button {
	padding: 5px;
	text-align: center;
	line-height: 1.2rem;
	border: 3px solid var(--ink);
	box-shadow: 5px 5px var(--contrast);
	background: var(--background);
	min-width: 150px;
	color: var(--standout);
	font-family: var(--sans-serif);
	font-size: 1rem;
	font-weight: 500;
}

button:hover {
	transform: translateX(5px) translateY(5px);
	box-shadow: 0 0 var(--highlight);
	cursor: pointer;
}

button:active {
	transform: translateX(5px) translateY(5px);
	box-shadow: 0 0 var(--highlight);
}

@media (prefers-color-scheme: dark) {
	button {
		box-shadow: 5px 5px var(--trim);
	}
}