
html {
	--black: #111111;
	--white: #FFF;

	--color: #5E321F;
	--highlight: #aadee9;

	--shadow: rgba(0,0,0,.8);

	--corners: 10px; 

	--standard: 1140px;
	--tight: 800px;
	--wide: 98vw;

	--paper-primary: hsl(259, 80%, 11%); /* dark purple */
	--paper-dark: hsl(43, 35%, 3%); /* midnight */
	--paper-alt: hsl(43%, 27%, 41); /* gold */

	--ink: hsl(43, 27%, 41%); /* gold */
	--ink-light: hsl(259, 100%, 70%); /* light purple */
	--ink-dark: hsl(259, 80%, 11%); /* dark purple */
}

@media (prefers-color-scheme: dark) {
	html {
		--paper: hsl(28, 17%, 30%); /* dark brown */
		--ink: white;
		--highlight: yellow;
	}

	.logo {
		fill: white;
	}
}
