
$black: #111111;
$white: #FFF;

$color: #5E321F;
$highlight: #aadee9;

$shadow: rgba(0,0,0,.8);

$corners: 10px; 

$standard: 1140px;
$tight: 800px;
$wide: 98vw;

$primary-light: hsla(259, 100%, 70%, 1);

// $paper-primary: hsla(268, 100%, 22%, 1.00);
$paper-primary: lightgrey;
// $paper-primary: hsla(268, 100%, 22%, 1.00); /* dark purple */
$paper-dark: hsla(43, 35%, 3%, 1); /* midnight */
$paper-alt: hsla(43, 27%, 45%, 1); /* gold */

$ink: hsla(43, 27%, 41%); /* gold */
$ink-light: hsla(259, 100%, 70%, 1); /* light purple */
$ink-dark: hsla(259, 80%, 11%, 1); /* dark purple */

$gap-small: 2px;
$gap: 5px;
$gap-wide: 8px;

$spacing-xxsm: .5px;	
$spacing-xsm: 1px;
$spacing-sm: 3px;
$spacing-st: 5px;
$spacing-wide: 10px;
$spacing-xwide: 12px;
$spacing-xxwide: 15px;

@media (prefers-color-scheme: dark) {
	html {
		$paper: hsla(28, 17%, 30%, 1); /* dark brown */
		$ink: white;
		$highlight: yellow;
	}

}
