/* P reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Setup */
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
} /* https://www.paulirish.com/2012/box-sizing-border-box-ftw */
a {
  display: block;
  text-decoration: none;
  color: inherit;
}

p a {
  display: inline;
  /*	color: blue;*/
  text-decoration: underline;
}

picture {
  display: block;
  overflow: hidden;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

svg {
  display: block;
  width: 100%;
}

/* Ssetings */
html {
  --black: #111111;
  --white: #FFF;
  --color: #5E321F;
  --highlight: #aadee9;
  --shadow: rgba(0,0,0,.8);
  --corners: 10px;
  --standard: 1140px;
  --tight: 800px;
  --wide: 98vw;
  --paper-primary: hsla(268, 100%, 22%, 1.00); /* dark purple */
  --paper-dark: hsla(43, 35%, 3%, 1); /* midnight */
  --paper-alt: hsla(43%, 27%, 41%, 1); /* gold */
  --ink: hsla(43, 27%, 41%); /* gold */
  --ink-light: hsla(259, 100%, 70%, 1); /* light purple */
  --ink-dark: hsla(259, 80%, 11%, 1); /* dark purple */
}

@media (prefers-color-scheme: dark) {
  html {
    --paper: hsla(28, 17%, 30%, 1); /* dark brown */
    --ink: white;
    --highlight: yellow;
  }
  .logo {
    fill: white;
  }
}
section:nth-of-type(odd) {
  background-color: rgba(0, 0, 0, 0.03);
}

/* Structure */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* be at least a full viewport height */
}

main {
  flex-grow: 1; /* fill up available space + push the footer down */
}

inner-column {
  display: block;
  max-width: var(--wide); /* could be a variable in settings */
  margin-right: auto;
  margin-left: auto;
  padding: 0 5px;
}

athlete-card {
  display: block;
}

@media (min-width: 600px) {
  inner-column {
    width: var(--tight);
  }
}
/* Typography */
html {
  --marker: Permanent Marker, Noto Serif;
  --sans-serif: Encode Sans, Helvetica;
  --serif: Noto Serif Display, Old Standard TT, Times New Roman;
}

a {
  font-family: var(--sans-serif);
  text-transform: uppercase;
  font-weight: 200;
  letter-spacing: 0.2rem;
}

a:hover {
  text-decoration: underline;
  color: var(--highlight);
}

@media (prefers-color-scheme: dark) {
  a:hover {
    color: var(--highlight);
  }
}
/* Main header or banner text or similar */
.screaming-voice {
  font-family: var(--marker);
  font-size: clamp(40px, 7vw, 80px);
  color: var(--ink);
}

/* Header text or similar */
.loud-voice {
  font-family: var(--sans-serif);
  font-size: 30px;
}

/* Sub-header text or similar */
.attention-voice {
  font-family: var(--sans-serif);
  font-size: 26px;
}

.alert-voice {
  font-family: var(--sans-serif);
  font-size: 26px;
}

/* Paragraph text or similar */
.normal-voice {
  font-family: var(--sans-serif);
  font-size: 16px;
}

/* Caption text or similar */
.calm-voice {
  font-family: var(--sans-serif);
  font-size: 12px;
}

/* Fine print text or similar */
.quiet-voice {
  font-family: var(--sans-serif);
  font-size: 10px;
}

.whisper-voice {
  font-family: var(--sans-serif);
  font-size: 8px;
}

:is(p) em {
  font-style: italic;
}

:is(p) strong {
  font-weight: 700;
}

/* Sections and more 
stuff */
athlete-card {
  background-color: var(--paper-dark);
  color: var(--ink-light);
  border-radius: var(--corners);
  max-width: 320px;
}
@media (min-width: 700px) {
  athlete-card {
    min-width: 320px;
    min-height: 445px;
    border-radius: 0;
    padding: 5px;
    display: grid;
    grid-template-rows: picture;
    grid-template-rows-margin-left: auto;
    grid-template-rows-margin-right: auto;
    grid-template-rows-clip-path: polygon(0 0, 100% 0, 100% 65%, 85% 85%, 85% 100%, 15% 100%, 15% 85%, 0 65%);
    grid-template-rows-background-color: white;
  }
  athlete-card img {
    clip-path: polygon(2.5% 2.5%, 97.5% 2.5%, 97.5% 67.5%, 87.5% 87.5%, 87.5% 97.5%, 17.5% 97.5%, 17.5% 87.5%, 0 67.5%);
    min-height: 100%;
  }
}
.site-header ul {
  display: flex;
}

/* - - - FOOTER - - - */
footer {
  padding-bottom: 90px;
  min-height: 20vh;
}

/* - - - HEADER - - - */
.site-header {
  display: flex;
  width: 100vw;
  position: sticky;
  top: 0;
  z-index: 9;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
}

/* then other contextual styles */
body {
  background-color: var(--paper-primary);
  color: var(--ink);
}

.heading {
  color: var(--highlight);
  margin: 50px 0;
}

picture {
  max-width: 500px;
}

@media (min-width: 400px) {
  picture {
    max-width: 250px;
  }
}

/*# sourceMappingURL=site-minified.css.map */
