/* P reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Setup */
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
} /* https://www.paulirish.com/2012/box-sizing-border-box-ftw */
a {
  display: block;
  text-decoration: none;
  color: inherit;
}

p a {
  display: inline;
  /*	color: blue;*/
  text-decoration: underline;
}

picture {
  display: block;
  overflow: hidden;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

svg {
  display: block;
  width: 100%;
}

/* Ssetings */
html {
  --black: #111111;
  --white: #FFF;
  --color: #5E321F;
  --highlight: #aadee9;
  --shadow: rgba(0,0,0,.8);
  --corners: 10px;
  --standard: 1140px;
  --tight: 800px;
  --wide: 98vw;
  --paper-primary: hsla(268, 100%, 22%, 1.00); /* dark purple */
  --paper-dark: hsla(43, 35%, 3%, 1); /* midnight */
  --paper-alt: hsla(43%, 27%, 41%, 1); /* gold */
  --ink: hsla(43, 27%, 41%); /* gold */
  --ink-light: hsla(259, 100%, 70%, 1); /* light purple */
  --ink-dark: hsla(259, 80%, 11%, 1); /* dark purple */
}

@media (prefers-color-scheme: dark) {
  html {
    --paper: hsla(28, 17%, 30%, 1); /* dark brown */
    --ink: white;
    --highlight: yellow;
  }
  .logo {
    fill: white;
  }
}
section:nth-of-type(odd) {
  background-color: rgba(0, 0, 0, 0.03);
}

/* Structure */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* be at least a full viewport height */
}

main {
  flex-grow: 1; /* fill up available space + push the footer down */
}

inner-column {
  display: block;
  max-width: var(--wide); /* could be a variable in settings */
  margin-right: auto;
  margin-left: auto;
  padding: 0 5px;
}

athlete-card {
  display: block;
}

@media (min-width: 600px) {
  inner-column {
    width: var(--tight);
  }
}
/* Typography */
html {
  --marker: Permanent Marker, Noto Serif;
  --sans-serif: Encode Sans, Helvetica;
  --serif: Noto Serif Display, Old Standard TT, Times New Roman;
}

a {
  font-family: var(--sans-serif);
  font-weight: 200;
}

a:hover {
  text-decoration: underline;
  color: var(--highlight);
}

@media (prefers-color-scheme: dark) {
  a:hover {
    color: var(--highlight);
  }
}
/* Main header or banner text or similar */
.screaming-voice {
  font-family: var(--marker);
  font-size: clamp(40px, 7vw, 80px);
  color: var(--ink);
}

/* Header text or similar */
.loud-voice {
  font-family: var(--sans-serif);
  font-size: 30px;
}

/* Sub-header text or similar */
.attention-voice {
  font-family: var(--sans-serif);
  font-size: 26px;
}

.alert-voice {
  font-family: var(--sans-serif);
  font-size: 26px;
}

/* Paragraph text or similar */
.normal-voice {
  font-family: var(--sans-serif);
  font-size: 16px;
}

/* Caption text or similar */
.calm-voice {
  font-family: var(--sans-serif);
  font-size: 14px;
}

/* Fine print text or similar */
.quiet-voice {
  font-family: var(--sans-serif);
  font-size: 12px;
}

.whisper-voice {
  font-family: var(--sans-serif);
  font-size: 8px;
}

:is(p) em {
  font-style: italic;
}

:is(p) strong {
  font-weight: 700;
}

/* Sections and more 
stuff */
athlete-card {
  max-width: 300px;
}

.athlete-info {
  width: 100%;
  background-color: var(--paper-dark);
  color: var(--ink-light);
  border-radius: var(--corners);
  display: flex;
  flex-direction: column;
  text-align: center;
  font-style: italic;
}
.athlete-info p, .athlete-info h3 {
  align-self: center;
}
.athlete-info picture.headshot {
  margin-left: auto;
  margin-right: auto;
  max-width: 150px;
}
.athlete-info picture.action-shot, .athlete-info .logo {
  display: none;
}

.back {
  display: none;
}

@media (min-width: 700px) {
  athlete-card {
    max-width: 350px;
    height: 500px;
    margin-left: 2em;
    padding: 5px;
  }
  .card {
    width: 100%;
    height: 100%;
    position: relative;
    transition: transform 1s;
    transform-style: preserve-3d;
  }
  athlete-card:hover > .card {
    curser: pointer;
  }
  .athlete-info {
    height: 100%;
    display: grid;
    grid-template-rows: 92% 8%;
    padding: 10px;
    border-radius: 0;
    position: relative;
  }
  .athlete-info picture.headshot {
    display: none;
  }
  .athlete-info picture.action-shot {
    display: block;
    margin-left: auto;
    margin-right: auto;
    clip-path: polygon(0 0, 100% 0, 100% 75%, 90% 80%, 90% 100%, 10% 100%, 10% 80%, 0 75%);
    background: linear-gradient(hsl(259, 100%, 70%), white);
    min-width: 100%;
    padding: 0.7px;
  }
  .athlete-info picture.action-shot img {
    clip-path: polygon(2% 1.3%, 98% 1.3%, 98% 68%, 88% 72.5%, 88% 90.5%, 12% 90.5%, 12% 72.5%, 2% 68%);
    min-height: 100%;
  }
  .athlete-info .front .logo {
    display: block;
    position: absolute;
    right: 43%;
    bottom: 10%;
    max-width: 50px;
    z-index: 11;
  }
  .athlete-info .position, .athlete-info .years {
    position: absolute;
    writing-mode: vertical-lr;
    rotate: 180deg;
    top: 71%;
    left: 4%;
    margin-top: auto;
    margin-bottom: auto;
    min-height: 100px;
  }
  .athlete-info .position p, .athlete-info .years p {
    font-size: 15px;
  }
  .athlete-info .years {
    right: 4%;
  }
  .front, .back {
    width: 100%;
    height: 100%;
    position: absolute;
  }
  .back {
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: grey;
  }
  .back .headshot {
    max-width: 150px;
    margin-left: auto;
    margin-right: auto;
    z-index: 12;
  }
  .back .logo {
    position: absolute;
    right: 21%;
    bottom: 63%;
    max-width: 200px;
    opacity: 0.4;
  }
  .back .name {
    margin: 5px auto;
    z-index: 10;
  }
  .back .personal-info {
    margin: 5px 0;
  }
  .back .personal-info * {
    margin: 2px 0;
  }
  .back .college {
    max-width: 100%;
  }
  .back .custom-table td, .back .custom-table th {
    padding: 1px;
  }
  .back .custom-table td p, .back .custom-table th p {
    font-size: 12px;
  }
}
.site-header ul {
  display: flex;
}

/* - - - FOOTER - - - */
footer {
  padding-bottom: 90px;
}

/* - - - HEADER - - - */
.site-header {
  display: flex;
  width: 100vw;
  position: sticky;
  top: 0;
  z-index: 9;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
}

/* then other contextual styles */
body {
  background-color: var(--paper-primary);
}

.heading {
  color: var(--highlight);
  margin: 50px 0;
}

picture {
  max-width: 500px;
}

@media (min-width: 400px) {
  picture {
    max-width: 250px;
  }
}

/*# sourceMappingURL=site-minified.css.map */
