/* P reset */
@import 'meyer-reset';

/* Setup */
@import 'setup';

/* Ssetings */
@import 'settings';
@import 'developer-styles';


/* Structure */
@import 'structure';

/* Typography */
@import 'typography';


/* Sections and more 
stuff */
@import 'pages/pages';
@import 'components/components';
@import 'modules/modules';

@import 'footer';
@import 'header';

/* then other contextual styles */
body {
	background-color: $paper-primary;
}

.heading {
	color: $highlight;
	margin: 50px 0;
}

picture {
	max-width: 500px;
}

button, a, input, label, option, select {
	cursor: pointer;
}

@media (min-width:400px) {
	picture {
		// max-width: 250px;
	}
}