
$header: Encode Sans, Helvetica;
$body-text: Open Sans, Helvetica;
$serif: Noto Serif Display, Old Standard TT, Times New Roman;


a {
	font-family: $body-text;
	// text-transform: uppercase;
	font-weight: 200;
	// letter-spacing: .2rem;
}

a:hover {
	text-decoration: underline;
	color: $highlight;
}

@media (prefers-color-scheme: dark) {
	a:hover {
		color: $highlight;
	}
}

/* Main header or banner text or similar */
.screaming-voice {
	font-family: $header;
	font-weight: 900;
	font-size: clamp(40px, 7vw, 80px);
	color: var(--ink);
	text-transform: uppercase;
}

/* Header text or similar */
.loud-voice {
	font-family: $body-text;
	font-size: 1.6em;
}

/* Sub-header text or similar */
.attention-voice {
	font-family: $header;
	font-size: 1.4em;
	font-weight: 700;
	font-style: italic;
	text-transform: uppercase;
}

.alert-voice {
	font-family: $header;
	font-size: 1.2em;
	font-weight: 700;
	font-style: italic;
	text-transform: uppercase;
}

/* Paragraph text or similar */
.normal-voice {
	font-family: $body-text;
	font-size: 1em;

}

/* Caption text or similar */
.calm-voice {
	font-family: $body-text;
	font-size: .8em;
}

/* Fine print text or similar */
.quiet-voice {
	font-family: $body-text;
	font-size: .75em;
}

.whisper-voice {
	font-family: $body-text;
	font-size: 8px;
}

:is(p) em {
	font-style: italic;
}

:is(p) strong {
	font-weight: 700;
}

