/* - - FOOTER - -  */
.site-footer {
	grid-row: 15;
	grid-column: 2 / 14;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 40px 0 80px 0;
	gap: 10px;
}

.site-footer .logo {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 15px;
}

.logo p {
	margin-top: 10px;
}