[data-vue='bmiCalc'] .height input {
	max-width: 20%;
}

[data-vue='bmiCalc'] .weight {
	display: flex;
	flex-direction: column;
	margin: 25px 0;
}

[data-vue='bmiCalc'] .weight p {
	margin: 0 auto;
}

[data-vue='bmiCalc'] .scale {
	display: flex;
	gap: 10px;
}

[data-vue='bmiCalc'] .weight input {
	min-width: 80%;
}

@media(min-width: 700px) {
	[data-vue='bmiCalc'] .height input {
		max-width: 15%;
	}
}