#languages {
	grid-row: 4;
	margin-bottom: 15px;
}
#languages form {
 	display: grid;
 	grid-template-areas:
 		"php javascript vue"
 		"button button button";
 	gap: 20px;
}

#languages label {
	display: flex;
	flex-direction: column-reverse;
	align-items: center;
	justify-content: flex-start;
}
#languages label:nth-of-type(2) {
	justify-content: center;
}
#languages label:nth-of-type(3) {
	justify-content: flex-end;
}

#languages button {
	grid-column: 1 / 4;
	max-width: 200px;
	margin-left: auto;
	margin-right: auto;
/*	border: 3px solid var(--trim);
	box-shadow: 5px 5px var(--ink);*/
}
input[type="radio"] {
  /* Add if not using autoprefixer */
  -webkit-appearance: none;
  appearance: none;
  /* For iOS < 15 to remove gradient background */
  background-color: ;
  margin: 5px;
  font: inherit;
  color: var(--trim);
  width: 1.15em;
  height: 1.15em;
  display: grid;
  grid-gap: 20px;
  place-content: center;
}

/*input[type="radio"]:before {
  content: "test";
  width: 0.65em;
  height: 0.65em;
  border-radius: 50%;
  transform: scale(0);
}*/

input[type="radio"]:checked {
	content: "";
	background-color: var(--ink);
	transform: scale(1);
}

input[type="radio"]:focus {
 /* outline: max(2px, 0.15em) solid currentColor;
  outline-offset: max(2px, 0.15em);*/
}

.exercise heading, .v-exercise heading {
	display: block;
	grid-row: 3;
	grid-column: 2 / 14;
}

.exercise .instructions, 
.v-exercise .instructions,
.js-exercise .instructions {
	max-width: 700px;
	margin: 10px 20px 10px 0;
}

.exercise form, 
.v-exercise form,
.js-exercise form {
/*	display: flex;*/
	flex-direction: column;
	margin-right: 20px;
	margin-left: 5px;
	grid-row: 3;
	grid-column: 1 / 14;
	padding: 0 5px;
}
/* - - - COUNT CHARACTERS - - - - - - -*/
.exercise #words {
	color: var(--standout);
}

textarea {
	resize: vertical;
	width: 100%;
}
/* - - - PASSWORD VALIDATION - - - - - - -*/
.password-create {
	display: flex;
	flex-direction: column;
}
form-wrap {
	display: flex;
	flex-direction: column;
	grid-row: 8;
	grid-column: 2 / 14;
}

form-wrap .hidden {
	display: none;
}

.exercise input, 
.v-exercise input,
.js-exercise input {
	margin: 5px 0;
}

.exercise form label, 
.v-exercise form label,
.js-exercise form label {
	margin-top: 20px;
}

.exercise .entry, 
.v-exercise .entry,
.js-exercise .entry  {
	margin-top: 10px;
}

.exercise form:nth-of-type(3), 
.v-exercise form:nth-of-type(3),
.js-exercise form:nth-of-type(3) {
	align-items: center;
}

.exercise .input-one, 
.v-exercise .input-one,
.js-exercise .input-one {
	display: flex;
	flex-direction: column;
}

.exercise input[type="number"], 
.v-exercise input[type="number"],
.js-exercise input[type="number"] {
	max-width: 150px;
	padding: 5px;
}

.exercise .password-output, 
.v-exercise .password-output,
.js-exercise .password-output {
	margin: 10px 0;
	padding: 5px;
	border: 3px solid var(--ink);
	background-color: var(--background);
	display: flex;
	flex-direction: column;
}

.password-output span, 
.v-exercise .password-output span,
.js-exercise .password-output span   {
	color: var(--standout);
	margin: 5px 0;
/*	overflow: auto;*/
}

password-enter {
	display: flex;
	flex-direction: column;
	border: 2px solid var(--ink);
}

/* - - RADIO BUTTON - - - - - - - - - - - - - - - */
.exercise form input[type="radio"], 
.v-exercise .exercise form input[type="radio"],
.js-exercise .exercise form input[type="radio"] {
   border: 3px solid black;
   cursor: pointer;
}
.exercise form input[type="radio"] .percent, 
.v-exercise form input[type="radio"] .percent,
.js-exercise form input[type="radio"] .percent {
	border: 1px solid black;
}

/* - - SUBMIT BUTTON - - - - - - - - - - - - - - - */
.exercise button, 
.v-exercise button,
.js-exercise button {
	margin-top: 20px;
	min-width: 150px;
	max-width: 30%;
}

.exercise button:hover, 
.v-exercise button:hover,
.js-exercise button:hover {
	transform: translateX(5px) translateY(5px);
	box-shadow: 0 0 var(--highlight);
	cursor: pointer;
}

.exercise button:active, 
.v-exercise button:active,
.js-exercise button:active {
	transform: translateX(5px) translateY(5px);
	box-shadow: 0 0 var(--highlight);
}

/* - - OUTPUT - - - - - - - - - - - - */
output {
	grid-row: 4;
	grid-column: 1 / 4;
	margin-top: 20px;
	margin-left: 10px;
	margin-right: 20px;
	border: 3px solid var(--ink);
	background: var(--background);
	padding: 5px;
}

output p {
	padding: 5px;
}

.warning, error {
	color: red;
	margin-top: 5px;
	display: block;
}

@media (min-width: 550px) {
	.exercise heading, .exercise form, 
	.v-exercise heading, .v-exercise form,
	.js-exercise heading, .v-exercise form {
		grid-column: 1 / 14;
	}

	.exercise form, 
	.v-exercise form,
	.js-exercise form {
		grid-column: 1 / 8;
	}
}

@media (min-width: 700px) {
	.exercise heading, 
	.v-exercise heading,
	.js-exercise heading {
		grid-column: 4 / 10;
	}

	.exercise .instructions, 
	.v-exercise .instructions,
	.js-exercise .instructions {
		grid-column: 4 / 10;
	}

	.exercise form, 
	.v-exercise form,
	.js-exercise form {
		grid-column: 4 / 10;
	}

	.password-output {
		max-width: 250px;
	}

	output {
		grid-row: 3;
		grid-column: 10 / 13;
		padding: 5px;
		margin-top: 10px;
		margin-bottom: auto;
		margin-left: 20px;
		margin-right: auto;
	}

	form output {
		display: block;
	}

	#countChar {
		display: block;
		content: 'hello';
		grid-column: 10 /14;
		grid-row: 5;
	}

}


.js-exercise .password-output, .js-exercise password-enter {
	display: none;
}