.exercise .heading .title1 {
	transition: .2s ease-in-out;
}

.exercise .heading .title1:hover {
	transition: .2s ease-in-out;
}

/*- - SIMPLE-INTEREST - - - - - - - - - - - - - - - - - - - */
.simple-interest.heading .title1 {
	transform: translateY(-.2em) rotate(var(--tilt));
}

.simple-interest.heading .title1:hover {
	transform: translateX(0) translateY(0) rotate(0);
}

.simple-interest.heading .title2 {
	transform: translateX(6em);
}

@media (min-width: 550px) {
	.simple-interest.heading .title1 {
		transform: translateY(-.5em) rotate(var(--tilt));
	}

	.simple-interest.heading .title2 {
		transform: translateX(7em);
	}
}

@media (min-width: 700px) {
	.simple-interest.heading .title1 {
		transform: translateX(-76%) translateY(.3em) rotate(var(--tilt));
	}

	.simple-interest.heading .title1:hover {
		transform: translateX(-76%) translateY(.3em) rotate(0);
	}	
}

@media (min-width: 700px) {
	.exercise .heading .title2 {
		transform: translateX(0);
	}
}

/*- - SIMPLE-MATH - - - - - - - - - - - - - - - - - - - */
.simple-math.heading .title1 {
	transform: translateY(-.2em) rotate(var(--tilt));
}

.simple-math.heading .title1:hover {
	transform: translateX(0) translateY(0) rotate(0);
}

.simple-math.heading .title2 {
	transform: translateX(6em);
}

@media (min-width: 550px) {
	.simple-math.heading .title1 {
		transform: translateY(-.5em) rotate(var(--tilt));
	}

	.simple-math.heading .title2 {
		transform: translateX(7em);
	}
}

@media (min-width: 700px) {
	.simple-math.heading .title1 {
		transform: translateX(-45%) translateY(.3em) rotate(var(--tilt));
	}

	.simple-math.heading .title1:hover {
		transform: translateX(-45%) translateY(.3em) rotate(0);
	}

	.simple-math.heading .title2 {
		transform: translateX(0);
	}	
}

/*- - CHARACTER-COUNT - - - - - - - - - - - - - - - - - - - */
.count-characters.heading .title1 {
	transform: translateY(-.2em) rotate(var(--tilt));
}

.count-characters.heading .title1:hover {
	transform: translateX(0) translateY(0) rotate(0);
}

.count-characters.heading .title2 {
	transform: translateX(4.5em);
}

@media (min-width: 550px) {
	.count-characters.heading .title1 {
		transform: translateY(-.5em) rotate(var(--tilt));
	}

	.count-characters.heading .title2 {
		transform: translateX(7em);
	}
}

@media (min-width: 700px) {
	.count-characters.heading .title1 {
		transform: translateX(-67%) translateY(.6em) rotate(var(--tilt));
	}

	.count-characters.heading .title1:hover {
		transform: translateX(-67%) translateY(.6em) rotate(0);
		transition: .2s ease-in-out;
	}

	.count-characters.heading .title2 {
		transform: translateX(0);
	}	
}

@media (min-width: 800px) {
	.count-characters.heading .title1 {
		transform: translateX(-71%) translateY(.8em) rotate(var(--tilt));
	}

	.count-characters.heading .title1:hover {
		transform: translateX(-71%) translateY(.8em) rotate(0);
	}
}

@media (min-width: 1000px) {
	.count-characters.heading .title1 {
		transform: translateX(-72%) translateY(.9em) rotate(var(--tilt));
	}

	.count-characters.heading .title1:hover {
		transform: translateX(-72%) translateY(.9em) rotate(0);
	}	
}

/*- - PIZZA PARTY - - - - - - - - - - - - - - - - - - - */
.pizza-party.heading .title1 {
	transform: translateY(-.4em) rotate(var(--tilt));
}

.pizza-party.heading .title1:hover {
	transform: translateX(0) translateY(0) rotate(0);
}

.pizza-party.heading .title2 {
	transform: translateX(4em);
}

@media (min-width: 550px) {
	.pizza-party.heading .title1 {
		transform: translateY(-.5em) rotate(var(--tilt));
	}

	.pizza-party.heading .title2 {
		transform: translateX(6em);
	}
}

@media (min-width: 700px) {
	.pizza-party.heading .title1 {
		transform: translateX(-60%) translateY(.3em) rotate(var(--tilt));
	}

	.pizza-party.heading .title1:hover {
		transform: translateX(-60%) translateY(.3em) rotate(0);
	}

	.pizza-party.heading .title2 {
		transform: translateX(0);
	}	
}

/*- - SAY HELLO - - - - - - - - - - - - - - - - - - - */
.hello.heading .title1 {
	transform: translateY(-.4em) rotate(var(--tilt));
}

.hello.heading .title1:hover {
	transform: translateX(0) translateY(0) rotate(0);
}

.hello.heading .title2 {
	transform: translateX(1.5em);
}

@media (min-width: 550px) {
	.hello.heading .title1 {
		transform: translateY(-.9em) rotate(var(--tilt));
	}

	.hello.heading .title2 {
		transform: translateX(3em);
	}
}

@media (min-width: 700px) {
	.hello.heading .title1 {
		transform: translateX(-65%) translateY(.3em) rotate(var(--tilt));
	}

	.hello.heading .title1:hover {
		transform: translateX(-65%) translateY(.3em) rotate(0);
		transition: .2s ease-in-out;
	}

	.hello.heading .title2 {
		transform: translateX(0);
	}	
}

/*- - TAX-CALCULATOR - - - - - - - - - - - - - - - - - - - */
.tax-calculator.heading .title1 {
	transform: translateY(-0.3em) rotate(-4deg);
}

.tax-calculator.heading .title1:hover {
	transform: translateY(-0.3em) rotate(0);
}

.tax-calculator.heading .title2 {
	transform: translateX(2em);
}

@media (min-width: 500px) {
	.tax-calculator.heading .title1 {
		transform: translateY(-.9em) rotate(var(--tilt));
	}

	.tax-calculator.heading .title2 {
		transform: translateX(3em);
	}
}

@media (min-width: 700px) {
	.tax-calculator.heading .title1 {
		transform: translateX(-85%) translateY(.8em) rotate(var(--tilt));
	}

	.tax-calculator.heading .title1:hover {
		transform: translateX(-85%) translateY(0) rotate(0);
	}

	.tax-calculator.heading .title2 {
		transform: translateX(0);
	}
}

@media (min-width: 1000px) {
	.tax-calculator.heading .title1 {
		transform: translateX(-85%) translateY(1.4em) rotate( var(--tilt) );
	}
}

/*- - TIP-CALCULATOR - - - - - - - - - - - - - - - - - - - */
.tip-calculator.heading .title1 {
	transform: translateY(-35%) rotate(-4deg);
}

.tip-calculator.heading .title1:hover {
	transform: translateX(0) rotate(0);
}

.tip-calculator.heading .title2 {
	transform: translateX(2em);
}

@media (min-width: 700px) {
	.tip-calculator.heading .title1 {
		transform: translateX(-88%) translateY(22%) rotate(var(--tilt));
	}

	.tip-calculator.heading .title1:hover {
		transform: translateX(-88%) translateY(0) rotate(0);
	}

	.tip-calculator.heading .title2 {
		transform: translateX(0);
	}
}

/*- - SELF-CHECKOUT - - - - - - - - - - - - - - - - - - - */
.self-checkout.heading .title1{
	transform: translateY(-.5em) rotate(var(--tilt));
	transition: .2s ease-in-out;
}

.self-checkout.heading .title1:hover {
	transform: translateX(0) translateY(0) rotate(0);
}

.self-checkout.heading .title2 {
	transform: translateX(4em);
}

@media (min-width: 500px) {
	.self-checkout.heading .title1{
		transform: translateY(-.7em) rotate(var(--tilt));
	}

	.self-checkout.heading .title1:hover {
		transform: translateX(0) translateY(0) rotate(0);
	}

	.self-checkout.heading .title2 {
		transform: translateX(5em);
	}
}

@media (min-width: 700px) {
	.self-checkout.heading .title1 {
		transform: translateX(-80%) translateY(1em) rotate(var(--tilt));
	}

	.self-checkout.heading .title1:hover {
		transform: translateX(-80%) rotate(0);
	}
	
	.self-checkout.heading .title2 {
		transform: translateX(0);
	}
}

/*- - DRIVING-AGE - - - - - - - - - - - - - - - - - - - */
.driving-age.heading .title1 {
	transform: translateY(-0.3em) rotate(-4deg);
}

.driving-age.heading .title1:hover {
	transform: translateY(-0.3em) rotate(0);
}

.driving-age.heading .title2 {
	transform: translateX(7em);
}

@media (min-width: 550px) {
	.driving-age.heading .title1 {
		transform: translateY(-.6em) rotate(var(--tilt));
	}

	.driving-age.heading .title2 {
		transform: translateX(9em);
	}
}

@media (min-width: 700px) {
	.driving-age.heading .title1 {
		transform: translateX(-23%) translateY(.6em) rotate(var(--tilt));
	}

	.driving-age.heading .title1:hover {
		transform: translateX(-23%) translateY(.6em) rotate(0);
	}

	.driving-age.heading .title2 {
		transform: translateX(0);
	}	
}

/*- - TEMP-CONVERTER - - - - - - - - - - - - - - - - - - - */
.temp-converter.heading .title1{
	transform: translateY(-.5em) rotate(var(--tilt));
	transition: .2s ease-in-out;
}

.temp-converter.heading .title1:hover {
	transform: translateX(0) translateY(0) rotate(0);
}

.temp-converter.heading .title2 {
	transform: translateX(4em);
}

@media (min-width: 500px) {
	.temp-converter.heading .title1{
		transform: translateY(-.7em) rotate(var(--tilt));
	}

	.temp-converter.heading .title1:hover {
		transform: translateX(0) translateY(0) rotate(0);
	}

	.temp-converter.heading .title2 {
		transform: translateX(5em);
	}
}

@media (min-width: 700px) {
	.temp-converter.heading .title1 {
		transform: translateX(-80%) translateY(1.1em) rotate(var(--tilt));
	}

	.temp-converter.heading .title1:hover {
		transform: translateX(-80%) rotate(0);
	}
	
	.temp-converter.heading .title2 {
		transform: translateX(0);
	}
}


/*- - PASSWORD VALIDATION - - - - - - - - - - - - - - - - - - - */
.password-validation.heading .title1 {
	transform: translateY(-.2em) rotate(var(--tilt));
}

.password-validation.heading .title1:hover {
	transform: translateX(0) translateY(0) rotate(0);
}

.password-validation.heading .title2 {
	transform: translateX(4.5em);
}

@media (min-width: 400px) {
	.password-validation.heading .title2 {
	transform: translateX(9em);
}
}

@media (min-width: 550px) {
	.password-validation.heading .title1 {
		transform: translateY(-.5em) rotate(var(--tilt));
	}

	.password-validation.heading .title2 {
		transform: translateX(10em);
	}
}

@media (min-width: 700px) {
	.password-validation.heading .title1 {
		transform: translateX(-43%) translateY(0) rotate(var(--tilt));
	}

	.password-validation.heading .title1:hover {
		transform: translateX(-43%) translateY(0) rotate(0);
		transition: .2s ease-in-out;
	}

	.password-validation.heading .title2 {
		transform: translateX(0);
	}	
}

@media (min-width: 1000px) {
	.password-validation.heading .title1 {
		transform: translateX(-47%) translateY(.5em) rotate(var(--tilt));
	}

	.password-validation.heading .title1:hover {
		transform: translateX(-47%) translateY(.5em) rotate(0);
	}	
}

@media (min-width: 1500px) {
	.password-validation.heading .title1 {
		transform: translateX(-50%) translateY(.5em) rotate(var(--tilt));
	}

	.password-validation.heading .title1:hover {
		transform: translateX(-50%) translateY(.5em) rotate(0);
	}	
}






