/* - - - PAGE HEADER - - - - - - -*/
.exercise .heading .title2,
.js-exercise .heading .title2,
.v-exercise .heading .title2 {
	grid-column: 2;
}

/* - - - FORM DIVS - - - - - - -*/
.exercise form > div, 
.v-exercise form > div,
.js-exercise form > div {
	display: flex;
	flex-direction: column;
}

.exercise form div + .exercise form div,
.v-exercise form div + .v-exercise form div,
.js-exercise form div + .js-exercise form div {
	margin-top: 10px;
}

/* - - - FORM SLIDER - - - - - - -*/
.slider {
	-webkit-appearance: none;
/*	max-width: 100%;*/
	height: 3px;
	background-color: var(--standout);
	display: flex;
}

.slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 40px;
	height: 25px;
	border: var(--border-med) solid var(--trim);
	background-color: var(--ink);
}

/* - - - FORM HEADERS/FORM LAYOUT - - - - - - -*/
.exercise heading, .v-exercise heading {
	display: block;
	grid-row: 3;
	grid-column: 2 / 14;
}

.exercise .instructions, 
.v-exercise .instructions,
.js-exercise .instructions {
	max-width: 450px;
	margin: 10px 20px 10px 0;
	display: flex;
	flex-direction: column;
}

.exercise form, 
.v-exercise form,
.js-exercise form {
	margin-right: 20px;
	grid-row: 3;
}

/* - - - BACK BUTTON - - - - - - -*/
.return {
	grid-row: 14;
	grid-column: 2 / 14;
	margin: 0 auto;
}

/* - - - COUNT CHARACTERS - - - - - - -*/
.exercise #words {
	color: var(--standout);
}

textarea {
	resize: vertical;
	width: 100%;
}
/* - - - PASSWORD VALIDATION - - - - - - -*/
.password-create {
	display: flex;
	flex-direction: column;
}
form-wrap {
	display: flex;
	flex-direction: column;
	grid-row: 8;
	grid-column: 2 / 14;
}

form-wrap .hidden {
	display: none;
}

.exercise form label, 
.v-exercise form label {
	margin-top: 20px;
}

.exercise .entry, 
.v-exercise .entry  {
	margin-top: 10px;
}

.exercise form:nth-of-type(3), 
.v-exercise form:nth-of-type(3),
.js-exercise form:nth-of-type(3) {
	align-items: center;
}

.exercise input[type="number"], 
.v-exercise input[type="number"],
.js-exercise input[type="number"] {
	max-width: 100px;
	padding: 5px;
}

.exercise .password-output, 
.v-exercise .password-output,
.js-exercise .password-output {
	margin: 10px 0;
	padding: 5px;
	border: 3px solid var(--ink);
	background-color: var(--background);
	display: flex;
	flex-direction: column;
	max-width: 300px;
}

.password-output span, 
.v-exercise .password-output span,
.js-exercise .password-output span   {
	color: var(--standout);
	margin: 5px 0;
}

password-enter {
	display: flex;
	flex-direction: column;
}

/* - - RADIO BUTTON - - - - - - - - - - - - - - - */
.radio-buttons {
	display: flex;
	flex-direction: row;
	gap: 50px;
	margin-top: 8px;
}

input[type="radio"] {
  /* Add if not using autoprefixer */
  -webkit-appearance: none;
  appearance: none;
  /* For iOS < 15 to remove gradient background */
  background-color: ;
  margin: 5px;
  font: inherit;
  color: var(--link);
  width: 1.15em;
  height: 1.15em;
  display: grid;
  grid-gap: 20px;
  place-content: center;
}

@keyframes grow-shrink {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

input[type="radio"]:checked {
	content: "";
	background-color: var(--standout);
	animation-name: grow-shrink;
	animation-duration: .5s;
	border: var(--border-med) solid var(--trim);
}

.exercise form input[type="radio"], 
.v-exercise .exercise form input[type="radio"],
.js-exercise .exercise form input[type="radio"] {
   border: 3px solid black;
   cursor: pointer;
}
.exercise form input[type="radio"] .percent, 
.v-exercise form input[type="radio"] .percent,
.js-exercise form input[type="radio"] .percent {
	border: 1px solid black;
}

/* - - SUBMIT BUTTON - - - - - - - - - - - - - - - */
.exercise button, 
.v-exercise button,
.js-exercise button {
	margin-top: 20px;
	min-width: 150px;
	max-width: 30%;
}

.exercise button:hover, 
.v-exercise button:hover,
.js-exercise button:hover {
	transform: translateX(5px) translateY(5px);
	box-shadow: 0 0 var(--highlight);
	cursor: pointer;
}

.exercise button:active, 
.v-exercise button:active,
.js-exercise button:active {
	transform: translateX(5px) translateY(5px);
	box-shadow: 0 0 var(--highlight);
}

/* - - WARNING - - - - - - - - - - - - */
.warning, error {
	color: red;
	margin-top: 2px;
	display: block;
}

/* - - OUTPUT - - - - - - - - - - - - */
output {
	grid-row: 4;
	grid-column: 2 / 14;
	margin: 20px 10px 0 20px;
	border: 3px solid var(--ink);
	background: var(--background);
	padding: 5px;
	max-width: 300px;
}

output p, output .special {
	padding: 5px;
}

.receipt {
	display: grid;
	grid-template-rows: 1fr 1fr 1fr;
	grid-template-columns: 1fr auto;
}

.receipt > * {
	align-self: center;
}

.receipt > :nth-child(2),
.receipt > :nth-child(4),
.receipt > :nth-child(6) {
		text-align: right;
}

.receipt > :nth-child(5), .receipt > :nth-child(6) {
	border-top: 1px solid var(--ink);
}

@media (min-width: 700px) {
	
	#languages button {
		margin-left: auto;
	}

	.password-output {
		max-width: 250px;
	}

	.exercise output, 
	.js-exercise output,
	.v-exercise output {
		grid-row: 3;
		grid-column: 10 / 13;
		padding: 5px;
		margin: auto 20px auto 10px;
	}

	form output {
		display: block;
	}

	#countChar {
		display: block;
		content: 'hello';
		grid-column: 10 /14;
		grid-row: 5;
	}
}

.js-exercise .password-output, .js-exercise password-enter {
	display: none;
}