.exercise heading {
	display: block;
	grid-row: 3;
	grid-column: 2 / 14;
}

.exercise .instructions {
	grid-row: 4;
	grid-column: 2 / 14;
	max-width: 700px;
	margin-left: 5px;
	margin-right: 20px;
}

.exercise form {
	display: flex;
	flex-direction: column;
	margin-left: 5px;
	margin-right: 20px;
	grid-row: 5;
	grid-column: 2 / 14;
}

/* - - - - PASSWORD VALIDATION - - -*/
.exercise form.password {
	grid-row: 7;
}

.password-create {
	display: flex;
	flex-direction: column;
}
form-wrap {
	display: flex;
	flex-direction: column;
	grid-row: 8;
	grid-column: 2 / 14;
}

form-wrap .hidden {
	display: none;
}

.exercise input {
	margin: 5px 0;
	max-width: 250px;
}

.exercise form label {
	margin-top: 20px;
}

.exercise .entry {
	margin-top: 10px;
}

.exercise form:nth-of-type(3) {
	align-items: center;
}

.exercise .input-one {
	display: flex;
	flex-direction: column;
}

.exercise input[type="number"] {
	max-width: 100px;
	padding: 5px;
}

/* - - RADIO BUTTON - - - - - - - - - - - - - - - */
.exercise form input[type="radio"] {
   border: 3px solid black;
   cursor: pointer;
}
.exercise form input[type="radio"] .percent {
	border: 1px solid black;
}

/* - - SUBMIT BUTTON - - - - - - - - - - - - - - - */
.exercise button {
	margin-top: 20px;
	min-width: 150px;
	max-width: 30%;
}

.exercise button:hover {
	transform: translateX(5px) translateY(5px);
	box-shadow: 0 0 var(--highlight);
	cursor: pointer;
}

.exercise button:active {
	transform: translateX(5px) translateY(5px);
	box-shadow: 0 0 var(--highlight);
}

/* - - OUTPUT - - - - - - - - - - - - */
output {
	grid-row: 7;
	grid-column: 2 /14;
	margin-top: 20px;
	margin-left: 5px;
	margin-right: auto;
	border: 3px solid var(--trim);
	background: var(--background);
	padding: 5px;
}

.warning, error {
	color: red;
	margin-top: 5px;
	display: block;
}

@media (min-width: 550px) {
	.exercise heading, form, output {
		grid-column: 2 / 8;
	}

	.exercise .instructions {
		grid-column: 2 / 10;
	}
}

@media (min-width: 700px) {
	.exercise heading {
		grid-column: 4 / 10;
	}

	.exercise .instructions {
		grid-column: 4 / 10;
	}

	.exercise form {
		grid-column: 6 / 10;
	}

	output {
		grid-row: 5;
		grid-column: 10 / 14;
		padding: 10px;
		margin-top: auto;
		margin-bottom: auto;
		margin-left: 20px;
		margin-right: auto;
	}
}


