#print-quotes .author, #print-quotes .quote {
	display: flex;
	flex-direction: column;
}

:is(.noun, .verb, .adjective, .adverb, .age, .retire-age) {
  display: flex;
  flex-direction: column;
}

/* - - - - - TIP-CALCULATOR - - - - - */
.tip-select {
	margin: 15px 0;
}

.tip-options {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
	margin-top: 15px;
}

#tip-calc .tip-options input {
	margin-left: auto;
	margin-right: auto;
}

td:nth-of-type(2) {
	padding-left: 20px;
}

tr:nth-of-type(3){
	border-top: 1px solid var(--ink);
}

td:nth-of-type(2) p {
	text-align: right;
}
