/* - - - - FORM - - - - - - - - - - - - */

form.self-checkout tax {
	margin-top: 20px;
	display: block;
}

form.self-checkout .item {
	margin-top: 25px;
}

form.self-checkout quantity, form.self-checkout price {
	display: flex;
	flex-direction: column;
}

.js-exercise form.self-checkout .clearAll {
	margin-top: 10px;
	max-width: fit-content;
}
@media (min-width: 350px) {
	form.self-checkout .items-wrap {
		display: grid;
		grid-template-rows: 1fr 1fr; 
		grid-template-columns: 1fr 1fr;
		margin-right: 20px;
	}

	tax {
		grid-row: 3;
		grid-column: 1 / span 2;
	}
}

@media (min-width: 700px) {
	form.self-checkout {
		gap: 0;
	}
	
	form.self-checkout .item.one {
		grid-row: 1;
		grid-column: 1;
	}

	form.self-checkout .item.two {
		grid-row: 1;
		grid-column: 2;
	}

	form.self-checkout .item.three {
		grid-row: 2;
		grid-column: 1;
	}

	form.self-checkout .item.four {
		grid-row: 2;
		grid-column: 2;
	}

	form.self-checkout tax {
		display: block;
		grid-column: 1 / -1;
	}
}

@media (min-width: 1000px) {
	:is(quantity, price)  {
		margin-top: 5px;
		margin-bottom: 0;
	}
}