#state, #county {
	max-width: 30%;
	margin: 5px 0;
	padding: 5px;
	border: 3px solid var(--ink);
	font-family: var(--sans-serif);
/*	font-size: clamp(.8rem, 1.5vw, 1rem);*/
	line-height: 1.5rem;
}

#county {
	max-width: 35%;
}

.tax-calc order-amount {
	display: block;
	margin-top: 20px;
}

@media (min-width: 700px) {

}