.v-exercise heading {
	display: block;
	grid-row: 3;
	grid-column: 2 / 14;
}

.v-exercise .instructions {
/*	grid-row: 3;*/
/*	grid-column: 1 / 14;*/
	max-width: 700px;
	margin-right: 20px;
}

.v-exercise form {
	display: flex;
	flex-direction: column;
	margin-right: 20px;
	margin-left: 5px;
	grid-row: 3;
	grid-column: 1 / 14;
	padding: 0 5px;
}
/* - - - COUNT CHARACTERS - - - - - - -*/
.v-exercise #words {
	color: var(--standout);
}

#count-char textarea {
	resize: vertical;
}
/* - - - PASSWORD VALIDATION - - - - - - -*/
.password-create {
	display: flex;
	flex-direction: column;
}
form-wrap {
	display: flex;
	flex-direction: column;
	grid-row: 8;
	grid-column: 2 / 14;
}

form-wrap .hidden {
	display: none;
}

.v-exercise input {
	margin: 5px 0;
}

.v-exercise form label {
	margin-top: 20px;
}

.v-exercise .entry {
	margin-top: 10px;
}

.v-exercise form:nth-of-type(3) {
	align-items: center;
}

.v-exercise .input-one {
	display: flex;
	flex-direction: column;
}

.v-exercise input[type="number"] {
	max-width: 150px;
	padding: 5px;
}

.v-exercise .password-output {
	margin: 10px 0;
	padding: 5px;
	border: 3px solid var(--ink);
	background-color: var(--background);
	display: flex;
	flex-direction: column;
}

.password-output span {
	color: var(--standout);
	margin: 5px 0;
/*	overflow: auto;*/
}

password-enter {
	display: flex;
	flex-direction: column;
}

/* - - RADIO BUTTON - - - - - - - - - - - - - - - */
.v-exercise form input[type="radio"] {
   border: 3px solid black;
   cursor: pointer;
}
.v-exercise form input[type="radio"] .percent {
	border: 1px solid black;
}

/* - - SUBMIT BUTTON - - - - - - - - - - - - - - - */
.v-exercise button {
	margin-top: 20px;
	min-width: 150px;
	max-width: 30%;
}

.v-exercise button:hover {
	transform: translateX(5px) translateY(5px);
	box-shadow: 0 0 var(--highlight);
	cursor: pointer;
}

.v-exercise button:active {
	transform: translateX(5px) translateY(5px);
	box-shadow: 0 0 var(--highlight);
}

/* - - OUTPUT - - - - - - - - - - - - */
output {
	grid-row: 7;
	grid-column: 1 / 4;
	margin-top: 20px;
	margin-left: 10px;
	margin-right: 20px;
	border: 3px solid var(--ink);
	background: var(--background);
	padding: 5px;
}

output p {
	padding: 5px;
}

.warning, error {
	color: red;
	margin-top: 5px;
	display: block;
}

@media (min-width: 550px) {
	.v-exercise heading, .v-exercise form {
		grid-column: 1 / 14;
	}

	.v-exercise form {
		grid-column: 1 / 8;
	}
}

@media (min-width: 700px) {
	.v-exercise heading {
		grid-column: 4 / 10;
	}

	.v-exercise .instructions {
		grid-column: 4 / 10;
	}

	.v-exercise form {
		grid-column: 4 / 10;
	}

	input, .password-output {
		max-width: 250px;
	}
	output {
		grid-row: 3;
		grid-column: 10 / 13;
		padding: 5px;
		margin-top: auto;
		margin-bottom: auto;
		margin-left: 20px;
		margin-right: auto;
	}

}




/*.v-exercise main {
	grid-row: 3;
	grid-column: 1 / 14;
	display: flex;
	flex-direction: column;
	max-width: 500px;
	margin: 25px;
	gap: 8px;
	font-size: 16px;
	font-family: Anton, helvetica;
	border: 3px solid black;
	border-radius: 10px;
	padding: 40px 20px 75px 20px;
	background-color: #ddd5e9;
	box-shadow: 0 0 30px hotpink;
	color: black;
}


.v-exercise h1 {
	font-size: 38px;
	font-weight: 700;
	text-shadow: 2px 2px 3px limegreen;
	font-family: Clash Display;
	margin-bottom: 7px;
}

.v-exercise .instructions {
	line-height: 1.2em;
}

.v-exercise main li {
	list-style: bullets;
	list-style-position: inside;
}

.v-exercise h2 {
	font-weight: 700;
	font-size: 20px;
}

.v-exercise form {
	display: flex;
	flex-direction: column;
	gap: 5px;
	border: 3px solid black;
	border-radius: 6px;
	padding: 10px; 
	background-color: hsla(151, 72%, 54%, 0.85);
	margin-bottom: 15px;
}

.v-exercise label {
	margin-top: 10px;
}

.v-exercise span {
	font-weight: 700;
	color: hsla(306, 92%, 61%, 1.00);
}

.v-exercise input {
	padding: 5px;
	border: 3px solid black;
	border-radius: 5px;
	max-width: 80px;
}

.v-exercise button {
	border: none;
	background-color: hsla(306, 92%, 61%, 1.00);
	padding: 7px 5px;
	border-radius: 6px;
	font-size: 17px;
	max-width: 150px;
}

.v-exercise output {
	background-color: black;
	color: limegreen;
	font-family: Monospace;
	padding: 15px 10px;
	border-radius: 6px;
	margin-top: 15px;
	margin-left: 0;
	line-height: 1.5em;
}

.v-exercise output:empty {
	display: none;
}

.v-exercise .bad {
	color: red;
}

@media (min-width: 700px) {
	.v-exercise main {
		grid-column: 2 / 10;
	}
}*/