social-icons {
	display: block;
}

social-icons ul {
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 40px;
}

.section  {
	grid-row: 8;
	grid-column: 2 / 10;
}

.logo a:hover {
	fill: var(--standout);
}

@media (prefers-color-scheme: dark) {
	.logo a {
		fill: var(--ink);
	}
	.logo a:hover {
	fill: var(--standout);
}

}