.email-form form {
	display: flex;
	flex-direction: column;
}

.email-form input[type='text']:nth-of-type(1), .email-form input[type='email'] {
	max-width: 250px;
}

.email-form label  {
	margin-top: 20px;
	margin-bottom: 5px;
}


/*- - FORM BUTTON - - */
.email-form .contact-form {
	border: 3px solid var(--trim);
	text-align: center;
	padding: 5px;
	margin: 20px 0;
	box-shadow: 5px 5px var(--contrast);
	background: var(--background);
	color: var(--ink);
	max-width: 50%;
	margin-left: 24%;
}

.email-form .contact-form:hover  {
	transform: translateX(5px) translateY(5px);
	box-shadow: 0 0 var(--highlight);
	cursor: pointer;
}
.email-form .contact-form:active {
	transform: translateX(5px) translateY(5px);
	box-shadow: 0 0 var(--highlight);
}
