

projects-spotlight {
	display: block;
}

.projects.projects-spotlight {
	grid-row: 8;
	grid-column: 2 / 14;
}
@media (min-width: 700px) {
	.projects.projects-spotlight {
		grid-column: 2 / 10;
	}

}
