.latest-projects {
	grid-row: 6;
	grid-column: 2 /14;
}

projects-spotlight {
	display: block;
}

.projects.projects-spotlight {
	grid-row: 8;
	grid-column: 2 / 14;
}
@media (min-width: 700px) {
	.latest-projects {
		grid-row: 5;
		grid-column: 3 / span 3;
}

}
