/* - - - - PAGE HEADER- - - - - - - - - - - - */
.about .page-header .title1 {
	transform: translateX(0) rotate(var(--tilt));
	transition: .2s ease-in-out;
}

.about .page-header .title1:hover {
	transform: translateX(0) rotate(0);
	transition: .2s ease-in-out;
}

.about .page-header .title2 {
	transform: translateX(6.4em);
}

@media (min-width: 500px) {
	.about .page-header .title1 {
		transform: translateX(0) translateY(-0.5em) rotate(var(--tilt));
	}
}

@media (min-width: 550px) {
	.about .page-header .title2 {
		transform: translateX(22%);
	}
}

.about .figure {
	display: none;
}

.about .social-icons {
	grid-row: 8;
	grid-column: 2 / 14;
}

@media (min-width: 700px) {
	/* - - PAGE HEADER - - */
	.about .page-header .title1 {
		transform: translateX(-3em) translateY(0.5em) rotate(var(--tilt));
	}

	.about .page-header .title1:hover {
		transform: translateX(-3em) rotate(0);
	}

	.about .page-header .title2 {
		transform: translateX(0);
	}

	/* - - PAGE INTRO - - */
	.about .page-intro {
		grid-row: 4;
		grid-column: 6 / 10;
		transform: translateX(-5em);
	}

	/* - - FIGURE - - */
	.about .figure  {
		display: block;
		grid-row: 3 / span 2;
		grid-column: 10 / span 2;
		margin-top: 30px;
		margin-left: 20px;
		transform: rotate(3deg);
	}

	.about picture {
		box-shadow: 10px 10px var(--trim);
	}

	/* - - SOCIAL ICONS - - */
	.about .social-icons {
		grid-column: 4 / 10;
	}

	@media (min-width: 1000px) {
	.about .social-icons {
		grid-column: 5 / 10;
	}
}
}















