.about.photos {
	display: none;
}

@media (min-width: 700px) {
	/* - - PAGE HEADER - - */
	.about.page-header {
		grid-row: 3;
		grid-column-start: 3;
		align-items: flex-start;
	}
	
	.about .title2 {
		transform: translateX(clamp(10em, 15em, 20em));
	}

	/* - - PAGE INTRO - - */
	.about.page-intro {
		grid-row: 4;
		grid-column: 6 / 10;
	}

	/* - - FIGURE - - */
	.about.photos  {
		display: block;
		grid-row: 3 / span 2;
		grid-column: 10 / span 2;
	}

	.about.photos picture {
		box-shadow: 5px 5px lawngreen;
	}

}