.about.photos {
	display: none;
}

.about.social-icons {
	grid-row: 8;
	grid-column: 2 / 14;
}

	/* - - BUTTON - - */

button {
	grid-row: 7;
	grid-column: 7 / 9;
}	
@media (min-width: 700px) {
	/* - - PAGE HEADER - - */
	.about.page-header {
		grid-row: 3;
		grid-column-start: 3;
		align-items: flex-end;
	}
	
	.about.title1 {
		transform: rotate(-5deg) translateX(-5em);
	}

	.about.title2 {
		text-align: right;
	}

	/* - - PAGE INTRO - - */
	.about.page-intro {
		grid-row: 4;
		grid-column: 6 / 10;
		transform: translateX(-5em);
	}

	/* - - FIGURE - - */
	.about.photos  {
		display: block;
		grid-row: 3 / span 2;
		grid-column: 10 / span 2;
	}

	.about.photos picture {
		box-shadow: 5px 5px lawngreen;
	}

	button {
		grid-row: 7;
		grid-column: 7 / 9;
	}	

}