/* - - PAGE HEADER - - */
.contact .page-header .title1 {
	transform: translateX(0) rotate(-3deg);
}

.contact .page-header .title2 {
	transform: translateX(12em);
}

.contact .email-form {
	grid-row: 4;
	grid-column: 2 / 14;
	margin: 5px;
}

@media (min-width: 550px) {
	.contact .page-header .title2 {
		transform: translateX(14em);
	}
}

@media (min-width: 630px) {
	.contact .page-header .title2 {
		transform: translateX(15em);
	}
}


@media (min-width: 700px) {
	/* - - PAGE HEADER - - */

	.contact .page-header .title1 {
		transform: translateX(-15%) rotate(-6deg);
	}

	.contact .page-header .title2 {
		transform: translateX(0);
	}

	.contact .email-form  {
		grid-column: 4 / 10;
		margin-right: 20px;
	}
}













