/* - - PAGE HEADER - - - - - - - - - - - - - - */
.contact.heading .title2 {
	grid-column: 5;
}

.contact .email-form {
	grid-row: 4;
	margin: 5px;
	max-width: 450px;
}

.contact .social-icons {
	grid-row: 8;
	grid-column: 2 / 14;
}

@media (min-width: 700px) {
	/* - - PAGE HEADER - - - - - - - - - - - - - - */
	.contact.heading .title2 {
		grid-column: 9;
	}

	/* - - EMAIL FORM - - - - - - - - */
	.contact .email-form  {
		margin-right: 20px;
		max-width: none;
	}

	/* - - SOCIAL ICONS - - - - - - - - */
	.contact .social-icons {
		grid-column: 4 / 10;
	}
}

@media (min-width: 1000px) {
	.contact .social-icons {
		grid-column: 5 / 10;
	}
}











