/* - - PAGE HEADER - - - - - - - - - - - - - - */
.contact .page-header .title1 {
	transform: translateX(0) rotate(var(--tilt));
	transition: .2s ease-in-out;
}

.contact .page-header .title1:hover {
	transform: translateX(0) rotate(0);
	transition: .2s ease-in-out;
}

.contact .page-header .title2 {
	transform: translateX(9em);
}

@media (min-width: 550px) {
	.contact .page-header .title1 {
		transform: translateY(-.5em) rotate(var(--tilt));
	}

	.contact .page-header .title2 {
		transform: translateX(50%);
	}
}

.contact .email-form {
	grid-row: 4;
	grid-column: 2 / 14;
	margin: 5px;
	max-width: 450px;
}

.contact .social-icons {
	grid-row: 8;
	grid-column: 2 / 14;
}

@media (min-width: 700px) {
	/* - - PAGE HEADER - - - - - - - - - - - - - - */
	.contact .page-header .title1 {
		transform: translateX(-15%) translateY(1em) rotate(var(--tilt));
	}

	.contact .page-header .title1:hover {
		transform: translateX(-15%) rotate(0);
	}

	.contact .page-header .title2 {
		transform: translateX();
	}

	.contact .email-form  {
		grid-column: 5 / 10;
		margin-right: 20px;
		max-width: none;
	}

	/* - - SOCIAL ICONS - - - - - - - - */
	.contact .social-icons {
		grid-column: 4 / 10;
	}
}

@media (min-width: 1000px) {
	.contact .social-icons {
		grid-column: 5 / 10;
	}
}












