/* - - - - PAGE HEADER - - - - - - - - - - - - */
.exercises.heading .title2 {
	grid-column-start: 2;
}

form-exercise {
	grid-column: 2 / 14;
	margin: 15px 20px 0 5px;
	max-width: 200px;
}

form-exercise h2 {
	margin-bottom: 10px;
}

form-exercise .exercises li {
	padding: 5px;
	margin-bottom: 15px;
	text-align: center;
	line-height: 1.2rem;
	border: 3px solid var(--ink);
	box-shadow: 5px 5px var(--contrast);
	background: var(--background);
	max-width: 10rem;
}

.array {
	grid-row: 6;
	grid-column: 10 / 14;
}

form-exercise .exercises li:hover {
	transform: translateX(5px) translateY(5px);
	box-shadow: 0 0 var(--highlight);
/*	cursor: pointer;*/
}

.calculations {
	grid-row: 5;
}

.input-output {
	grid-row: 6;
}

.decision-making {
	grid-row: 7;
}


@media (min-width: 700px) {
	/* - - PAGE HEADER - - */
	.exercises.heading .title2 {
/*		transform: translateX(0);*/
	}

}

@media (min-width: 800px) {
	.calculations, .input-output {
		margin-top: 20px;
	}

	.calculations {
/*		grid-column: 5 / 7;*/
	}

	.decision-making {
		grid-row: 5;
	}

	.input-output{
		grid-row: 5;
		grid-column: 7 / 10;
		margin-right: 20px;
	}

	.decision-making {
		grid-row: 6;
/*		grid-column: 5 / 7;*/
	}
}

@media (prefers-color-scheme: dark) {
	form-exercise .exercises li {
		box-shadow: 5px 5px var(--trim);
	}
}