form-exercise {
	grid-row: 3;
	grid-column: 2 / 14;
	margin-top: 15px;
	margin-left: 5px;
	max-width: 200px;
}

form-exercise h2 {
	margin-bottom: 10px;
}

form-exercise .exercises li {
	padding: 5px;
	margin-bottom: 15px;
	text-align: center;
	line-height: 1.2rem;
	border: 3px solid var(--trim);
	box-shadow: 5px 5px var(--contrast);
	background: var(--background);
	max-width: 18rem;
}

form-exercise .exercises li:hover {
	transform: translateX(5px) translateY(5px);
	box-shadow: 0 0 var(--highlight);
	cursor: pointer;
}

.calculations {
	grid-row: 3;
}

.input-output {
	grid-row: 4;
}

.decision-making {
	grid-row: 5;
}

@media (min-width: 500px) {
	.input-output {
		grid-row: 3;
		grid-column: 8 / 14;
	}
}

@media (min-width: 600px) {
	.input-output {
		grid-column: 7 / 14;
	}
}

@media (min-width: 700px) {
	form-exercise {
		margin-right: 20px;
	}

	.calculations, .input-output {
		margin-top: 20px;
	}

	.calculations {
		grid-column: 4 / 7;
	}

	.decision-making {
		grid-row: 5;
	}

	.decision-making, .input-output{
		grid-column: 7 / 10;
	}
}