.exercise .heading .title1 {
	transition: .2s ease-in-out;
}

.exercise .heading .title1:hover {
	transition: .2s ease-in-out;
}



/*- - SIMPLE-INTEREST - - - - - - - - - - - - - - - - - - - */
.simple-interest.heading .title1 {
	transform: translateY(-.2em) rotate(var(--tilt));
}

.simple-interest.heading .title1:hover {
	transform: translateX(0) translateY(0) rotate(0);
}

.simple-interest.heading .title2 {
	transform: translateX(6em);
}

@media (min-width: 550px) {
	.simple-interest.heading .title1 {
		transform: translateY(-.5em) rotate(var(--tilt));
	}

	.simple-interest.heading .title2 {
		transform: translateX(7em);
	}
}

@media (min-width: 700px) {
	.simple-interest.heading .title1 {
		transform: translateX(-80%) translateY(.3em) rotate(var(--tilt));
	}

	.simple-interest.heading .title1:hover {
		transform: translateX(-80%) translateY(.3em) rotate(0);
		transition: .2s ease-in-out;
	}	
}



@media (min-width: 700px) {
	.exercise .heading .title2 {
		transform: translateX(0);
	}
}