.exercise heading {
	display: block;
	grid-row: 3;
	grid-column: 2 / 14;
}

.exercise .instructions {
	grid-row: 4;
	grid-column: 2 / 14;
}

.exercise form {
	grid-row: 5;
	grid-column: 2 / 14;
}

output {
	grid-row: 7;
	grid-column: 2 /14;
}
@media (min-width: 700px) {
	.exercise heading {
		grid-column: 4 / 10;
	}

	.exercise .instructions {
		grid-column: 4 / 10;
	}

	.exercise form {
		grid-column: 4 / 10;
	}

	output {
		grid-row: 4 / span 3;
		grid-column: 10 / 14;
	}
}