/* - - PAGE HEADER - - */
.home .page-header .title1 {
	transform: translateX(0) translateY(-.4em) rotate(var(--tilt));
	transition: .2s ease-in-out;
}

.home .page-header .title1:hover {
	transform: translateX(0) rotate(0);
	transition: .2s ease-in-out;
}

.home .page-header .title2 {
	transform: translateX(5em);
}

@media (min-width: 550px) {
	.home .page-header .title1 {
		transform: translateY(-.8em) rotate(var(--tilt));
		transition: .2s ease-in-out;
	}
}

@media (min-width: 700px) {
	/* - - PAGE HEADER - - */
	.home .page-header .title1 {
		transform: translateY(.5em) translateX(-70%) rotate(-6deg);
	}

	.home .page-header .title1:hover {
		transform: translateX(-70%) rotate(0);
	}

	.home .page-header .title2 {
		transform: translateX(0);
	}	
}

/* - - GENERIC TEXT - - */
.home .generic-text span {
	color: var(--standout);
	font-weight: 700;
	text-transform: uppercase;
}

/* - - BUTTONS - - */
.home .button:nth-of-type(2) {
	grid-row: 6;
	grid-column: 2;
	align-items: center;
	margin-top: 20px;
	margin-bottom: 15px;
}

.home .button:nth-of-type(3) {
	grid-row: 7;
	grid-column: 2;
	align-items: center;
}

@media (min-width: 400px) {
	.home .button:nth-of-type(2) {
		grid-column: 4;
	}

	.home .button:nth-of-type(3) {
		grid-column: 4;
	}
}

@media (min-width: 700px) {
	.home .button:nth-of-type(2) {
		grid-column: 5;
		margin-left: 15px;
	}

	.home .button:nth-of-type(3) {
		grid-column: 5;
		margin-left: 15px;
	}
}

@media (min-width: 800px) {
	/* - - BUTTONS - - */
	.home .button {
		transform: translateX(1em);
	}
}

@media (min-width: 900px) {
	.home .button:nth-of-type(2) {
		grid-column-start: 5;
		display: flex;
		justify-content: flex-end;
		margin: 0;
	}

	.home .button:nth-of-type(3) {
		grid-row: 6;
		grid-column: 7;
		display: flex;
		margin: 0;
	}
}

@media (min-width: 1150px) {
	.home .button:nth-of-type(2)  {
		grid-row: 6;
		grid-column: 5;
		transform: translateX(3.5em);
	}

	.home .button:nth-of-type(3) {
		grid-row: 6;
		transform: translateX(2em);
	}
}