/* - - PAGE HEADER - - */
/*.page-header .title2 {
	max-width: 65%;
}
.home .page-header .title1 {
	transform: translateX(0) translateY(-.4em) rotate(var(--tilt));
	transition: .2s ease-in-out;
}

.home .page-header .title1:hover {
	transform: translateX(0) rotate(0);
	transition: .2s ease-in-out;
}

.home .page-header .title2 {
	transform: translateX(5em);
	transform-origin: 50% 50%;
}*/

@media (min-width: 550px) {
/*	.home .page-header .title1 {
		transform: translateY(-.8em) rotate(var(--tilt));
		transition: .2s ease-in-out;
	}*/
}

@media (min-width: 700px) {
	/* - - PAGE HEADER - - */
/*	.home .page-header .title1 {
		transform: translateY(.5em) translateX(-70%) rotate(-6deg);
	}

	.home .page-header .title1:hover {
		transform: translateX(-70%) rotate(0);
	}

	.home .page-header .title2 {
		transform: translateX(0);
	}	*/
}

/* - - GENERIC TEXT - - */
.home .generic-text span {
	color: var(--standout);
	font-weight: 700;
	text-transform: uppercase;
}

/* - - BUTTONS - - */
.home .button:nth-of-type(2) {
	grid-row: 6;
	grid-column: 2 / 14;
	align-items: center;
	margin: 20px auto 15px auto;
	transform: translateX(-5px);
}

.home .button:nth-of-type(3) {
	grid-row: 7;
	grid-column: 2 / 14;
	align-items: center;
	margin: 0 auto;
	transform: translateX(-5px);
}

@media (min-width: 550px) {
	.home .button:nth-of-type(2) {
		grid-column-start: 3;
		margin: 20px auto 15px -10px;
		transform: translateX(0);
	}

	.home .button:nth-of-type(3) {
		grid-row: 6;
		grid-column-start: 7;
		margin: 20px auto 15px -20px;
		transform: translateX(0);
	}
}

@media (min-width: 700px) {
	.home .button:nth-of-type(2) {
		grid-row: 5;
		grid-column: 5 / 10;
		transform: translateX(-4px);
		margin: 10px auto;
	}

	.home .button:nth-of-type(3) {
		grid-column: 5 / 10;
		transform: translateX(-4px);
		margin: 10px auto;
	}
}

@media (min-width: 800px) {
	/* - - BUTTONS - - */
	.home .button {
		transform: translateX(1em);
	}
}

@media (min-width: 1150px) {
	.home .button:nth-of-type(2)  {
		grid-row: 6;
		grid-column: 5;
		transform: translateX(3.5em);
	}

	.home .button:nth-of-type(3) {
		grid-row: 6;
		grid-column: 6 / 10;
		transform: translateX(3.5em);
	}
}