/* - - PAGE HEADER - - */
.home .page-header .title1 {
	transform: translateX(0) rotate(-3deg);
}

.home .page-header .title2 {
	transform: translateX(6em);
}

/* - - GENERIC TEXT - - */
.home .generic-text span {
	color: var(--standout);
	font-weight: 700;
	text-transform: uppercase;
}

/* - - BUTTONS - - */
.home .contact-button {
	grid-row: 6;
	grid-column: 5;
	display: flex;
	align-items: center;
}

.home .projects-button {
	grid-row: 7;
	grid-column: 5 ;
}

@media (min-width: 400px) {
	.home .contact-button, .home .projects-button {
		grid-column: 6;
	}
}

@media (min-width: 700px) {
	/* - - PAGE HEADER - - */
	.home .page-header .title1 {
		transform: translateX(-60%) rotate(-6deg);
	}

	.home .page-header .title1:hover {
		transform: translateX(-60%) rotate(0);
	}

	.home .page-header .title2 {
		transform: translateX(0);
	}	
}


@media (min-width: 900px) {
	.home .contact-button {
		grid-column: 4;
	}

	.home .projects-button {
		grid-row: 6;
		grid-column: 8;
		display: flex;
		align-items: center;
		justify-content: flex-end;
	}
}

@media (min-width: 1150px) {
	.home .contact-button {
		grid-row: 6;
		grid-column: 6;
		justify-content: flex-end;
		transform: translateX(2em);
	}

	.home .projects-button {
		grid-row: 6;
		grid-column-end: 9;
		display: flex;
		align-items: center;
		justify-content: flex-end;
	}
}