/* - - PAGE HEADER - - */
.project .page-header .title1 {
	transform: translateX(0);
}

.project .page-header .title2 {
	transform: translateX(6em);
}

/* - - CASE STUDY MODULES - - */
.project .generic-text  {
	flex-direction: column;
	margin-top: 20px;
}

.project .figure {
	grid-column: 2 / 14;
}

.project .figure picture {
	border: var(--border-thin) solid var(--ink);
}
/*- - LAYOUT GARDEN - - - - - - - - - - - - - - - */
.layout-garden.heading .title1 {
	transform: translateX(0) translateY(-.4em) rotate(var(--tilt));
	transition: .2s ease-in-out;
}

.layout-garden.heading .title2 {
	transform: translateX(6em); 
}

.layout-garden.heading .title1:hover {
	transform: translateX(0) rotate(0);
	transition: .2s ease-in-out;
}

@media (min-width: 550px) {
	.layout-garden.heading .title1 {
		transform: translateX(0) translateY(-5px) rotate(var(--tilt));
	}
}

@media (min-width: 700px) {
	.layout-garden.heading .title1 {
		transform: translateX(-70%) translateY(10px) rotate(var(--tilt));
	}

	.layout-garden.heading .title1:hover {
		transform: translateX(-70%) rotate(0);
		transition: .2s ease-in-out;
	}
}

/*- - LUXURY-STREETWEAR - - - - - - - - - - - - - - - - - */
/* - - PAGE HEADER - - */
.page-header .luxury-streetwear .title1 {
	transform: translateX(0) translateY(-5px) rotate(var(--tilt));
	transition: .2s ease-in-out;
}

.page-header .luxury-streetwear .title1:hover {
	transform: translateX(0) translateY(-5px) rotate(0);
	transition: .2s ease-in-out;
}

.page-header .luxury-streetwear .title2 {
	transform: translateX(10%);
}

@media (min-width: 400px) {
	.page-header .luxury-streetwear .title1 {
		transform: translateX(0) translateY(-1em) rotate(var(--tilt));
	}

	.page-header .luxury-streetwear .title2 {
		transform: translateX(20%) translateY(-5px);
	}
}

@media (min-width: 700px) {
	.page-header .luxury-streetwear .title1 {
		transform: translateX(-55%) translateY(.7em) rotate(var(--tilt));
		transition: 0 ease-in-out;
	}

	.page-header .luxury-streetwear .title1:hover {
		transform: translateX(-55%) translateY(0em) rotate(0);
		transition: .2s ease-in-out;
	}
}

/* - - MODULES - - */
.luxury-streetwear.generic-text:nth-of-type(2) {
	grid-row: 4;
}

.luxury-streetwear.figure:nth-of-type(3) {
	grid-row: 5;
}

.luxury-streetwear.generic-text:nth-of-type(3) {
	grid-row: 6;
}

.luxury-streetwear.generic-text:nth-of-type(4) {
	grid-row: 7;
}

.luxury-streetwear.figure:nth-of-type(5) {
	grid-row: 8;
}
.luxury-streetwear.generic-text:nth-of-type(6) {
	grid-row: 9;
}

/*- - PORTFOLIO-SITE - - - - - - - - - - - - - - - - - - - */
/* - - - - PAGE HEADER - - */
.page-header .portfolio-site .title1 {
	transform: rotate(var(--tilt));
	transition: .2s ease-in-out;
}

.page-header .portfolio-site .title1:hover {
	transform: translateX(0) translateY(0) rotate(0);
	transition: .2s ease-in-out;
}

.page-header .portfolio-site .title2 {
	transform: translateX(11em);
}
.portfolio-site:nth-of-type(2) {
	grid-row: 4;
}

.portfolio-site:nth-of-type(3) {
	grid-row: 5;
}

.portfolio-site:nth-of-type(4) {
	grid-row: 6;
}

.portfolio-site:nth-of-type(5) {
	grid-row: 7;
}

.portfolio-site:nth-of-type(6) {
	grid-row: 8;
}

.portfolio-site:nth-of-type(7) {
	grid-row: 9;
}

.portfolio-site:nth-of-type(8) {
	grid-row: 10;
}

.portfolio-site:nth-of-type(9) {
	grid-row: 11;
}

.portfolio-site:nth-of-type(10) {
	grid-row: 12;
}

.project image-caption {
	display: block;
	margin-top: 5px;
}

.project .project-url {
	grid-row: 8;
	grid-column: 2 / 14;
}

@media (min-width: 550px) {
	.project .figure {
		grid-column: 1 / 10;
		margin-right: 20px;
	}
}

@media (min-width: 700px) {
	.page-header .portfolio-site .title1 {
		transform: translateX(-20%) translateY(1em) rotate(var(--tilt));
	}

	.page-header .portfolio-site .title1:hover {
		transform: translateX(-21%) translateY(0) rotate(0);
	}
	
	.project .heading .title2 {
		transform: translateX(0);
	}

	.project .page-intro {
		grid-column: 2 / 10;
	}

	.project .figure {
		display: flex;
		grid-column: 4 / 10;
		margin-right: 20px;
		max-width: 550px;
	}
}