/* - - BUTTON - - */

/* - - CASE STUDY MODULES - - */
.project .generic-text  {
	flex-direction: column;
	margin-top: 20px;
}

.project .figure picture {
	border: var(--border-thin) solid var(--ink);
}
/*- - LAYOUT GARDEN - - - - - - - - - - - - - - - */
/* - - BUTTONS - - */
.layout-garden.button:nth-of-type(2) {
	max-width: fit-content;
	grid-row: 4;
	grid-column: 2 / 14;
	margin-left: auto;
	margin-right: auto;
}

.layout-garden.button:nth-of-type(3) {
	max-width: fit-content;
	grid-row: 5;
	grid-column: 2 / 14;
	margin-left: auto;
	margin-right: auto;
}

@media (min-width: 520px) {
	.layout-garden.button:nth-of-type(2) {
		grid-column-start: 2;
		margin: 20px auto 15px 5px;
	}

	.layout-garden.button:nth-of-type(3) {
		grid-row: 4;
		grid-column-start: 6;
		margin: 20px auto 15px 20px;
	}
}

@media (min-width: 700px) {
	.layout-garden.button:nth-of-type(2) {
		grid-column: 4 / 10;
		margin: 20px auto;
	}

	.layout-garden.button:nth-of-type(3) {
		grid-row: 5;
		grid-column: 4 / 10;
		margin: 0 auto;
	}
}

@media (min-width: 1000px) {
	.layout-garden.button:nth-of-type(2) {
		grid-column: 5;
		margin: 20px auto;
	}

	.layout-garden.button:nth-of-type(3) {
		grid-row: 4;
		grid-column: 7;
		margin: 20px auto;
	}
}
/*- - LUXURY-STREETWEAR - - - - - - - - - - - - - - - - - */
/* - - PAGE HEADER - - */

.page-header .luxury-streetwear .title2 {
	grid-column: 2 / 13;
}


/* - - MODULES - - */
.luxury-streetwear.generic-text:nth-of-type(2) {
	grid-row: 4;
}

.luxury-streetwear.figure:nth-of-type(3) {
	grid-row: 5;
}

.luxury-streetwear.generic-text:nth-of-type(3) {
	grid-row: 6;
}

.luxury-streetwear.generic-text:nth-of-type(4) {
	grid-row: 7;
}

.luxury-streetwear.figure:nth-of-type(5) {
	grid-row: 8;
}
.luxury-streetwear.generic-text:nth-of-type(6) {
	grid-row: 9;
}

.luxury-streetwear.button:nth-of-type(7) {
	max-width: fit-content;
	grid-row: 10;
	grid-column: 2 / 14;
	margin-left: auto;
	margin-right: auto;
}

.luxury-streetwear.button:nth-of-type(8) {
	max-width: fit-content;
	grid-row: 11;
	grid-column: 2 / 14;
	margin-left: auto;
	margin-right: auto;
}


@media (min-width: 700px) {
	.luxury-streetwear .screaming-voice {
		font-size: clamp(40px, 5.5vw, 80px);
	}

	.luxury-streetwear.button:nth-of-type(7) {
		grid-column: 4 / 10;
	}

	.luxury-streetwear.button:nth-of-type(8) {
		grid-column: 4 / 10;
	}
}

@media (min-width: 1300px) {
	.luxury-streetwear.button:nth-of-type(7) {
		grid-column: 3 / 10;
		transform: translateX(-4px);
		margin: 20px auto;
	}

	.luxury-streetwear.button:nth-of-type(8) {
		grid-row: 10;
		grid-column: 6 / 10;
		transform: translateX(-4px);
		margin: 20px auto;
	}		
}

/*- - GSAP-PRACTICE - - - - - - - - - - - - - - - - - - - */
.gsap:nth-of-type(1) {
	grid-row: 3;
}

.gsap:nth-of-type(2) {
	grid-row: 4;
}

.gsap:nth-of-type(3) {
	grid-row: 5;
}

.gsap:nth-of-type(4) {
	grid-row: 6;
}

.gsap:nth-of-type(5) {
	grid-row: 7;
}

.gsap:nth-of-type(6) {
	grid-row: 8;
}

.gsap:nth-of-type(7) {
	grid-row: 9;
}

.gsap:nth-of-type(8) {
	grid-row: 10;
}


.gsap.button:nth-of-type(7) {
	max-width: fit-content;
	grid-row: 10;
	grid-column: 2 / 14;
	margin-left: auto;
	margin-right: auto;
}

.gsap.button:nth-of-type(8) {
	max-width: fit-content;
	grid-row: 11;
	grid-column: 2 / 14;
	margin-left: auto;
	margin-right: auto;
}


@media (min-width: 700px) {
	.gsap.button:nth-of-type(7) {
		grid-column: 4 / 10;
	}

	.gsap.button:nth-of-type(8) {
		grid-column: 4 / 10;
	}
}

@media (min-width: 1300px) {
	.gsap.button:nth-of-type(7) {
		grid-column: 3 / 10;
		transform: translateX(-4px);
		margin: 20px auto;
	}

	.gsap.button:nth-of-type(8) {
		grid-row: 10;
		grid-column: 6 / 10;
		transform: translateX(-4px);
		margin: 20px auto;
	}		
}
/*- - PORTFOLIO-SITE - - - - - - - - - - - - - - - - - - - */
/* - - - - PAGE HEADER - - */
.page-header .portfolio-site .title2 {
	grid-column: 6 / 13;
}

.portfolio-site:nth-of-type(2) {
	grid-row: 4;
}

.portfolio-site:nth-of-type(3) {
	grid-row: 5;
}

.portfolio-site:nth-of-type(4) {
	grid-row: 6;
}

.portfolio-site:nth-of-type(5) {
	grid-row: 7;
}

.portfolio-site:nth-of-type(6) {
	grid-row: 8;
}

.portfolio-site:nth-of-type(7) {
	grid-row: 9;
}

.portfolio-site:nth-of-type(8) {
	grid-row: 10;
}

.portfolio-site:nth-of-type(9) {
	grid-row: 11;
}

.portfolio-site:nth-of-type(10) {
	grid-row: 12;
}

.project image-caption {
	display: block;
	margin-top: 5px;
}

.project .project-url {
	grid-row: 8;
	grid-column: 2 / 14;
}

@media (min-width: 550px) {
	.project .figure {
		margin-right: 20px;
	}
}

@media (min-width: 700px) {
	.page-header .portfolio-site .screaming-voice {
		font-size: clamp(40px, 6vw, 100px);
	}
	
	.portfolio-site .heading .title2 {
		grid-column: 8 / 13;
	}

	.portfolio-site .page-intro {
		grid-column: 2 / 10;
	}

	.project .figure {
		display: flex;
/*		grid-column: 4 / 10;*/
		margin-right: 20px;
		max-width: 550px;
	}
}