project-card {
	grid-column: 2 / 14;
}

project-card.layout-garden {
	grid-row: 4;
}

project-card.exercises {
	grid-row: 5;
	gap: 10px;
}

project-card.luxury-streetwear {
	grid-row: 6;
}

project-card.portfolio-site {
	grid-row: 7;
	gap: 10px;
}

@media (min-width: 700px) {
	project-card {
		grid-column: 4 / 10;
	}
}

@media (min-width: 1000px) {
	project-card {
		/*grid-column: 5 / 10;*/
	}
}