/* - - PAGE HEADER - - - - - - - - - - - - */
.projects.heading .title2 {
	grid-column-start: 2;
}

@media (min-width: 700px) {
	.projects project-card {
		margin-right: 20px;
	}
}

/*GREENSOCK*/
.projects project-card.gsap {
	grid-row: 4;
}
/*EXERCISES*/
.projects project-card.exercises {
	grid-row: 5;
}

.projects project-card.layout-garden {
	grid-row: 6;
}

.projects project-card.luxury-streetwear {
	grid-row: 7;
}

.projects project-card.portfolio-site {
	grid-row: 8;
}

