/* - - PAGE HEADER - - */
.project .page-header .title1 {
	transform: translateX(0) rotate(-3deg);
}

.project .page-header .title2 {
	transform: translateX(8em);
}

/* - - PAGE INTRO - - */
.project .page-intro {
	grid-row: 4;
	grid-column: 2 / 14;
}

/* - - PAGE MODULES - - */


.project .generic-text {
	grid-row: 5;
}


.project .figure {
	grid-row: 7;
	max-width: 200px;
}

.project .project-url {
	grid-row: 8;
	grid-column: 2 / 14;
}

@media (min-width: 550px) {
	.project .page-header .title2 {
		transform: translateX(0);
	}
}

