.style-guide section > a {
	text-align: center;
	margin-top: 10px;
	/*padding-bottom: 5px;*/
}

.style-guide > section {
	grid-column: 2 / 14;
	display: flex;
	flex-direction: column-reverse;
	justify-content: flex-end;
	border-bottom: 3px dashed var(--trim);
	padding-top: 5px;
	padding-bottom: 5px;
	margin-bottom: 20px;
}

.style-guide .page-header {
	grid-row: 2;
	grid-column: 2 / 14;
}

.style-guide .generic-text {
	grid-row: 3;
	display: flex;
	flex-direction: column-reverse;
	justify-content: flex-end;
}

.style-guide .figure {
	grid-row: 4;
	display: flex;
	flex-direction: column-reverse;
	justify-content: flex-end;

}

.style-guide figure {
	max-width: 250px;
	margin-left: auto;
	margin-right: auto;
}

.style-guide .contact-button {
	grid-row: 5;
}

.style-guide .projects-button {
	grid-row: 6;
}
.style-guide .email-form {
	grid-row: 7;
}

.social-icons {
	grid-row: 9;
	display: flex;
	flex-direction: column-reverse;
	justify-content: flex-end;
}

@media (min-width: 700px) {
	.style-guide .page-header {
		grid-column: 2 / 10;
	}
	.style-guide > section {
		grid-column: 4 / 10;
		margin-right: 20px;
		display: flex;
		flex-direction: column-reverse;
		justify-content: flex-end;
		border: 3px dashed var(--trim);
		padding: 10px;
		margin-bottom: 20px;
	}
}

