<%- include('header.ejs') %>
<h1 class="screaming-voice">API Data</h1>
	<ol>
		<% players.forEach(function(player) { %>

		<li class="normal-voice"><%=player.fname%> <%=player.lname%></li>
		<%});%>
	</ol>
	
<%- include('footer.ejs') %>

