<%- include('header.ejs') %>
<inner-column>
	<h1 class="screaming-voice">Athletes</h1>
	
	<ul class="card-grid">
		<% athletes.forEach( function(athlete) { %>

			<li data-sport=<%=athlete.sport%>>
				<%- include('athlete-card.ejs', {athlete}) %>

				<a href="">More Info</a>
				<button id='flipper'>Flip Card</button>
			</li>

		<%});%>
	</ul>
</inner-column>
<%- include('footer.ejs') %>

<script>
	const $athleteCard = document.querySelectorAll('athlete-card');
	const $button = document.querySelectorAll('button');

	$button.forEach( function($button, index) {
		let isFlipped = false;	
		
		$button.addEventListener('click', function(event) {
			$athleteCard[index].classList.toggle('hovered');
			this.innerText = 'flip back';

			if (isFlipped) {
				this.innerText = 'Flip Card';
			} else {
				this.innerText = 'Flip Back';
			}

			isFlipped = !isFlipped;
		});
	});

</script>