<%- include('header.ejs') %>
<inner-column>
	<h1 class="screaming-voice">Details</h1>

	<h2 class="attention-voice"><%=athlete.name%> <%=athlete.lastName%></h2>
</inner-column>

<%- include('footer.ejs') %>