project-card {
	display: flex;
	flex-direction: column;
	margin: 0 5px;
}

.project-card.intro {
	display: grid;
	align-items: space-between;
}

.project-card h2 {
	/*writing-mode: vertical-rl;*/
}

.languages {
	display: flex;
	flex-direction: row;
}

.languages li {
	padding: 2px 5px;
	margin: 5px 5px 5px 0;
	border: 2px solid var(--trim);
}
.project-image  {
	box-shadow: 10px 10px var(--highlight);
	display: none;
}


@media (min-width: 700px) {
	.project-card {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		gap: 20px;
	}

	project-card p {
		align-items: center;
		justify-items: center;
	}
	project-card a {
		grid-row: 2;
		grid-column: 2;
	}

	picture.project-image {
		display: block;
		max-width: 300px;
		grid-row: 4;
		border: 3px solid var(--trim);
	}

	.project.project-card {
		grid-row: 8;
	}
}