project-card {
	display: flex;
	flex-direction: column;
	margin: 0 5px;
	padding: 15px 10px 25px 0;
	border-top: 3px solid var(--trim);
	border-bottom: 3px solid var(--trim);

	max-width: 450px;
	gap: 10px;
}

project-card + project-card {
	margin-top: 20px;
}

project-card .project-details * {
	margin: 5px 0;
}

project-card .intro {
	display: grid;
	align-items: space-between;
	margin-top: 10px;
}

project-card .project-title {
	margin-bottom: 8px;
}

project-card .languages {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

project-card .languages li {
	padding: 2px 5px 14px 5px;
	margin: 0 8px 5px 0;
	max-height: 1.2rem;
	border: var(--border-thin) solid var(--trim);
	text-align: center;
	background: var(--background);
/*	box-shadow: 3px 3px var(--contrast);*/
}

project-card .project-image  {
	box-shadow: 10px 10px var(--contrast);
	display: none;
}


@media (min-width: 700px) {
	project-card {
		margin-right: 20px;
		max-width: none;
	}

	project-card .project-images {
		margin-bottom: 20px;
	}

	picture.project-image {
		display: block;
		max-width: 250px;
		max-height: 200px;
		grid-row: 4;
/*		border: 3px solid var(--trim);*/
	}

	picture.project-image:hover {
		transform: translateX(5px) translateY(5px);
		box-shadow: 0 0 var(--contrast);
		cursor: pointer;
	}

	picture.project-image:active {
		transform: translateX(5px) translateY(5px);
		box-shadow: 0 0 var(--contrast);
	}
}

@media (min-width: 900px) {
	project-card {
		flex-direction: row;
		justify-content: space-between;
		margin-right: 20px;
		align-items: center;
	}

	project-card .project-details {
		max-width: 50%;
		margin-right: 5px;
		margin-top: 10px;
	}

	project-card .project-images {
		max-width: 50%;
		margin-right: 10px;
		margin-top: 10px;
	}
}













