body {
	background-color: #370088;
}

main {
	display: grid;
	flex-direction: column;
	max-width: 500px;
	margin: 25px;
	gap: 8px;
	font-size: 16px;
	font-family: Anton, helvetica;
	border: 3px solid black;
	border-radius: 10px;
	padding: 40px 20px 75px 20px;
	background-color: #ddd5e9;
	box-shadow: 0 0 30px hotpink;
}

h1 {
	font-size: 38px;
	font-weight: 700;
	text-shadow: 2px 2px 3px limegreen;
	font-family: Clash Display;
	margin-bottom: 7px;
}

.instructions {
	line-height: 1.2em;
}

li {
	list-style: bullets;
	list-style-position: inside;
}

h2 {
	font-weight: 700;
	font-size: 20px;
}
form {
	display: flex;
	flex-direction: column;
	gap: 5px;
	border: 3px solid black;
	border-radius: 6px;
	padding: 10px; 
	background-color: hsla(151, 72%, 54%, 0.28);
	margin-bottom: 15px;
}

label {
	margin-top: 10px;
}

span {
	font-weight: 700;
	color: hsla(306, 92%, 61%, 1.00);
}

input {
	padding: 5px;
	border: 3px solid black;
	border-radius: 5px;
	max-width: 80px;
}

button {
	border: none;
	background-color: hsla(306, 92%, 61%, 1.00);
	padding: 7px 5px;
	border-radius: 6px;
	font-size: 17px;
	max-width: 150px;
}

output {
	background-color: black;
	color: limegreen;
	font-family: Monospace;
	padding: 15px;
	border-radius: 6px;
	margin-top: 15px;
	line-height: 1.5em;
}

output:empty {
	display: none;
}

.bad {
	color: red;
}