.site-header {
	grid-row: 1;
	grid-column: 1 / 14;
	display: flex;
	justify-content: space-between;
	margin-bottom: 40px;
	margin-top: 5px;
	position: sticky;
	top: 0;
	background-color: var(--background);
	z-index: 1;
}

.site-header .logo {
	margin-left: 5px;
}


nav ul {
	display: flex;
	flex-direction: row;
	gap: 15px;
	list-style: none;
	padding: 0;
	margin: 0;
	text-transform: uppercase;
}

nav li {
	writing-mode: vertical-rl;
	text-decoration: none;
	transition: .3s ease-in-out;
	margin-top: 5px;
}

nav li:hover {
	transform: translateY(40px);
	transition: .5s ease-in-out;
}

nav a.active {
	transform: translateY(40px);
}

.contact nav li:nth-of-type(1) {
	transform: translateY(0);
}

.contact nav li:hover:nth-of-type(1) {
	transform: translateY(0);
}

.about nav li:nth-of-type(2) {
	transform: translateY(0);
}

.about nav li:hover:nth-of-type(2) {
	transform: translateY(0);
}

.projects nav li:nth-of-type(3) {
	transform: translateY(0);
}

.projects nav li:hover:nth-of-type(3) {
	transform: translateY(0);
}


@media (min-width: 700px) {
	.site-header {
		grid-column: 2 / 14;
		display: grid;
		grid-template-columns: auto repeat(12, minmax(0, 120px)) auto;
		transition: 1s ease-in-out;
	}

	.site-header .logo {
		grid-column: 2;
	}

	nav {
		background-color: var(--paper);
		grid-column: 10 / 14;
		margin-left: -4px;
		display: flex;
		justify-content: flex-end;
	}
	nav ul {
		gap: 30px;
	}
}