header inner-column {
	display: flex;
}
header inner-column .left-side {
	max-width: 60%;
	max-height: 300px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

header inner-column .right-side {
	max-width: 40%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

svg {
	max-width: 100px;
}

.logo {
	max-width: 200px;
}
.logo svg path {
	fill: black;
}

nav {
	display: flex;
	align-items: center;
}
nav ul {
	display: flex;
	gap: 50px;
	justify-content: center;
}

header .icon {
	max-width: 100px;
}

button {
	background-color: transparent;
	border: none;
}