header inner-column {
	max-height: 300px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

svg {
	max-width: 100px;
}

.logo {
	max-width: 200px;
}
.logo svg path {
	fill: black;
}

nav {
	display: flex;
	align-items: center;
}
nav ul {
	display: flex;
	gap: 50px;
	justify-content: center;
}

header .icon {
	max-width: 100px;
}