header inner-column {
	display: flex;
}
header inner-column .left-side {
	max-height: 300px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 60%;
	padding-right: 50px;
}

.logo svg {
	max-width: 100px;
	max-height: 60px;
} 

nav {
	display: flex;
	align-items: center;
}

nav ul {
	display: flex;
	justify-content: center;
	gap: 10px;
}

nav li {
	min-width: 85px;
	display: flex;
	align-items: center;
	justify-content: center;
}


nav li:last-of-type {
	min-width: 90px;
}

header inner-column .right-side {
	display: flex;
	width: 40%;
	align-items: center;	
	justify-content: space-between;
	padding: 0 20px;
	background-color: white;
}

.bag-icon {
	max-width: 60px;
}

.bag-icon svg path {
	fill: black;
}

nav a:hover {
	font-weight: 700;
	text-decoration: none;
}