.beacon {
	max-height: fit-content;
	max-width: fit-content;
}

.main-image picture {
	border: 2px solid green;
	margin: 50px;
}

.main-image {
	max-height: 50%;
	margin-top: auto;
	border: 1px solid orange;
	position: relative;
}

.pop-up {
	max-width: fit-content;
	background-color: hsla(0, 0%, 0%, 0.30);
	border-radius: 10px;
	text-align: center;
	transform: translate(120%, -400%);
	padding: 15px;
	position: absolute;
	color: white;
}

.beacon {
	max-width: 55px;
}

.beacon.one {
  transform: translate(243%, -343%);
  position: absolute;
}

.beacon.two {
  transform: translate(760%, -620%);
  position: absolute;
}

.color-palette {
	max-width: 200px;
	align-self: flex-end;
}

.color-palette ul {
	display: flex;
}

.color-palette li {
	margin-left: 10px;
	border-radius: 20px;
	border: 2px solid white;
	background-color: hsla(0, 100%, 100%, 0.20);
	padding: 5px;
}