.beacon {
	max-height: fit-content;
	max-width: fit-content;
}

.main-image picture {
/*	margin: 50px;*/
}

.main-image {
/*	max-height: 50%;*/
	margin: 30px 30px 0 30px;
	position: relative;
}

.pop-up {
	max-width: fit-content;
	background-color: hsla(0, 0%, 0%, 0.30);
	border-radius: 10px;
	text-align: center;
	transform: translate(83%, -280%);
	padding: 15px;
	position: absolute;
	color: white;
}

.beacon {
	max-width: 55px;
}

.beacon.one {
  transform: translate(195%, -210%);
  position: absolute;
}

.beacon.two {
  transform: translate(490%, -590%);
  position: absolute;
}

.color-palette {
	max-width: 200px;
/*	max-height: 1px;*/
/*	transform: translateY(-100%);*/
	align-self: flex-end;
	margin-right: 30px;
}

.color-palette ul {
	display: flex;
}

.color-palette li {
	margin-left: 10px;
	border-radius: 16px;
	border: 2px solid white;
	background-color: hsla(0, 100%, 100%, 0.20);
	padding: 5px;
	max-width: 48px;
}