.grid-wrap {
	display: grid;
	grid-template-columns: 70% 30%;
	grid-template-rows: auto 1fr;
}

/* - - - QUADRANT 1: SEARCH - - - */
.search {
	grid-row: 1;
	grid-column: 1;
	display: flex;
	position: relative;
	margin-top: 30px;
}

.search input {
	padding: 10px 20px;
	border-radius: 10px 0 0 10px;
	min-width: 250px;
}

.search input, .search button {
	max-height: 60px;
	border: none;
}

.search button {
	padding: 0;
	border-radius: 0 10px 10px 0;
}

/* - - - QUADRANT 2: SAVINGS - - - */
.savings {
	grid-row: 1;
	grid-column: 2;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-left: auto;
	margin-top: 30px;
	max-width: 40%;
}

.savings p {
	margin-right: auto;
	justify-content: flex-end;
	padding: 5px 0;
}

.savings .calm-voice {
	text-transform: uppercase;
	color: rgb(130,130,130);
	font-weight: 700;
}

/* - - - QUADRANT 3: HEADING - - - */
.heading {
	grid-row: 2;
	grid-column: 1;

	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	margin: 50px 0;
	text-shadow: 
		1px 1px 0 hsla(210, 50%, 95%, 1), 
		2px 2px 0 hsla(210, 50%, 95%, 1), 
		3px 3px 0 hsla(210, 50%, 95%, 1), 
		4px 4px 0 hsla(210, 50%, 95%, 1), 
		5px 5px 0 hsla(210, 50%, 95%, 1), 
		6px 6px 0 hsla(210, 50%, 95%, 1), 
		7px 7px 0 hsla(210, 50%, 95%, 1), 
		8px 8px 0 hsla(210, 50%, 95%, 1), 
		9px 9px 0 hsla(210, 50%, 95%, 1), 
		9px 10px 0 hsla(210, 50%, 95%, 1), 
		9px 11px 0 hsla(210, 50%, 95%, 1), 
		9px 12px 0 hsla(210, 50%, 95%, 1), 
		9px 13px 0 hsla(210, 50%, 95%, 1), 
		9px 14px 0 hsla(210, 50%, 95%, 1), 
		9px 15px 0 #000;
/*-webkit-text-stroke: 1px hsla(195, 53%, 79%, 1);*/

}

.title1 {
	grid-row: 1;
	grid-column: 1;
}

.title2 {
	grid-row: 2;
	grid-column: 1 / span 2;
	width: fit-content;
}

button.explore {
	grid-row: 1;
	grid-column: 2;
	background-color: transparent;	
	margin-left: 30px;
	display: flex;
	justify-self: center;
	max-width: 130px;
}

/* - - - QUADRANT 4: PAGE-BUTTONS - - - */
.page-buttons {
	display: flex;	
	grid-row: 2;
	grid-column: 2;
	align-self: end;
	justify-self: center;
	max-width: 150px;
	height: fit-content;
	margin-bottom: 80px;
}

.page-buttons button {
	background-color: transparent;
}