.grid-wrap {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: auto 1fr;
}

/* - - - QUADRANT 1: SEARCH - - - */
.search {
	grid-row: 1;
	grid-column: 1;
	display: flex;
	position: relative;
}

.search input {
	padding: 10px 20px;
	border-radius: 10px 0 0 10px;
	min-width: 250px;
}

.search input, .search button {
	max-height: 60px;
	border: none;
}

.search button {
	padding: 0;
	border-radius: 0 10px 10px 0;
}

/* - - - QUADRANT 2: SAVINGS - - - */
.savings {
	grid-row: 1;
	grid-column: 2;
}

.savings .calm-voice {
	text-transform: uppercase;
	border-top: 2px solid black;
}

/* - - - QUADRANT 3: HEADING - - - */
.heading {
	grid-row: 2;
	grid-column: 1;

	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	width: fit-content;
	margin: 50px 0;
}

.title1 {
	grid-row: 1;
	grid-column: 1;
}

.title2 {
	grid-row: 2;
	grid-column: 1 / span 2;
	width: fit-content;
}

button.explore {
	grid-row: 1;
	grid-column: 2;
}

/* - - - QUADRANT 4: PAGE-BUTTONS - - - */
.page-buttons {
	display: flex;	
	grid-row: 2;
	grid-column: 2;
	align-self: end;
	justify-self: center;
	max-width: 150px;
	height: fit-content;
	margin-bottom: 80px;
}

.page-buttons button {
	background-color: transparent;
}