.shoe-detail {
	color: white;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
	padding: 25px 15px 10px 15px;
	flex-grow: 1;
	background-image: url('../../assets/shoe-detail-bg-short.svg');
	background-size: cover;
	background-position: center;
}

.shoe-detail-wrap {
	display: flex;
	flex-direction: column;
/*	justify-content: space-between;*/
	min-height: 100%;
}

.shoe-detail .size li {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 60px;
	gap: 5px;
	color: hsla(0, 0%, 71%, 1.00);
}

.shoe-detail .size li:nth-of-type(3) {
	transform: translateY(-50px);
	min-width: 75px;
	color: white;
}
.shoe-detail .size .calm-voice {
	padding-top: 27px;
	font-size: 16px;
}

.size {
	display: flex;
	justify-content: space-around;
	list-style-type: disc;
	max-height: 120px;
	margin-top: 45px;
}

.shoe-detail .size li:before {
	content: "•";
	text-align: center;
	font-size: 25px;
}

.shoe-detail-bottom {
	margin-top: 15px;
}
.shoe-name {
	margin: 0 40px 50px 40px;
}

.review {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 30px 40px 10px 40px;
	padding-top: 30px;
	border-top: 2px solid grey;
}

.rating ul {
	display: flex;
	gap: 5px;
}

.rating li {
	max-width: 20px;
}