.shoe-detail {
	background-color: hsla(0, 0%, 9%, 1.00);
	color: white;

	border-radius: 160px / 25px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
	margin-top: 20px;
}

.shoe-detail li {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 60px;
	margin-top: 10px;
}

.shoe-detail .size li:nth-of-type(3) {
	transform: translateY(-50%);
	border-radius: 50%;
	background-color: hsla(0, 0%, 9%, 1.00);
}

.size {
	display: flex;
	justify-content: space-around;
	list-style-type: disc;
}

.shoe-detail .size li:before {
	content: "•";
	text-align: center;
}

.review {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.rating ul {
	display: flex;
}

.rating li {
	max-width: 30px;
}