.shoe-grid ul {
	display: flex;
	border: 2px solid blue;
	min-height: 400px;
}

.shoe-card {
	display: flex;
	flex-direction: column;
	align-self: flex-end;
	margin: 10px;
	position: relative;

	color: black;
	text-align: center;

	border-radius: 160px / 25px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;

	background-color: hsla(348, 100%, 41%, .4);
	min-height: 250px;
}

.shoe-card picture {
/*	border: 2px solid black;
	background-color: salmon;
	border-radius: 160px / 25px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;*/
/*	max-height: 120px;		*/
}

.shoe-card img {
	transform: translateY(-40%);
	border: 1px solid green;
	position: absolute;
	z-index: 9;

}

.add {
	max-width: 50px;
	border-radius: 30px;
	z-index: 9;
	position: absolute;
	transform: translate(-50%, -110%);
}

.shoe-info {
	background-color: white;
	border-radius: 160px / 25px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	padding: 30px 10px;
	align-self: flex-end;
	margin-top: auto;
}
