.card-grid {
	display: flex;
	flex-wrap: wrap;
	gap: $spacing-xwide;
}

@media(min-width: 700px) {
	.athletes {
		display: grid;
		grid-template-columns: auto 1fr;
		grid-template-rows: auto auto 1fr;

		.filter-menu {
			grid-column: 1;
			grid-row: 2 / span 2;
		}

		h1 {
			grid-column: 1 / span 2;
			grid-row: 1;
		}

		.sort {
			grid-column: 2;
			grid-row: 2;
			display: flex;
			gap: $spacing-wide;
		}
		.card-grid {
			grid-column: 2;
			grid-row: 3;

			li {
				display: block;
			}
		}
	}	
}



.card-details {
	display: flex;
	justify-content: space-between;
}