athlete-card {
	max-width: 300px;
}
.athlete-info {
	width: 100%;
	background-color: var(--paper-dark);
	color: var(--ink-light);
	border-radius: var(--corners);
	display: flex;
	flex-direction: column;
	text-align: center;
	font-style: italic;

	p, h3 {
		align-self: center;
	}

	picture.headshot {
		margin-left: auto;
		margin-right: auto;
		max-width: 150px;
	}

	picture.action-shot {
		display: none;
	}
}

.back {
	display: none;
}

@media (min-width: 700px) {
	athlete-card {
		max-width: 320px;
		height: 500px;
		margin-left: 2em;
		padding: 5px;
	}

	.card {
		width: 100%;
		height: 100%;
		position: relative;
		transition: transform 1s;
		transform-style: preserve-3d;
	}

	athlete-card:hover > .card {
		curser: pointer;
		// transform: rotateY(180deg);
	}

	.athlete-info {
		height: 100%;
		display: grid;
		grid-template-rows: 92% 8%;
		padding: 10px;
		border-radius: 0;
		position: relative;

		picture.headshot {
			display: none;
		}
		picture.action-shot {
			display: block;
			margin-left: auto;
			margin-right: auto;
			clip-path: polygon(0 0, 100% 0, 100% 75%, 90% 80%, 90% 100%, 10% 100%, 10% 80%, 0 75%);
			background: linear-gradient(hsla(259, 100%, 70%, 1), white);
			min-width: 100%;
			padding: .5px; //makes border looks more uniform
		}

		img {
			clip-path: polygon(2% 1.5%, 98% 1.5%, 98% 74.5%, 88% 79.5%, 88% 98.5%, 12% 98.5%, 12% 79.5%, 2% 74.5%);
			// position: absolute;
			min-height: 100%;
		}

		.position {
			position: absolute;
			writing-mode: vertical-lr;
			top: 70%;
			left: 4%;
			margin-top: auto;
			margin-bottom: auto;
			min-height:100px;

			p {
				font-size: 15px;
			}
		}

		.years {
			position: absolute;
			writing-mode: vertical-lr;
			top: 70%;
			right: 4%;
			margin-top: auto;
			margin-bottom: auto;
			min-height:100px;		
		}
	}

	.front, .back {
		width: 100%;
		height: 100%;
		// position: absolute;
		// backface-visibility: hidden;
	}

	.back {
		display: flex;
		flex-direction: column;
		padding: 10px;
		// max-width: 320px;
		background-color: grey;
		// transform: rotateY(180deg);

		.headshot {
			max-width: 150px;
			margin-left: auto;
			margin-right: auto;
		}

		.college {
			max-width: 100%;
		}
	}
	
}