athlete-card {
	max-width: 250px;
}

@media (min-width: 700px) {
	athlete-card {
		max-width: none;
		width: 330px;
		height: 460px;
		perspective: 1000px;
	}

	.card {
		width: 100%;
		height: 100%;
		position: relative;
		transition: transform 1s;
		transform-style: preserve-3d;
	}

	athlete-card:hover > .card {
		cursor: pointer;
		transform: rotateY(180deg);
	}

	athlete-card.hovered > .card {
		transform: rotateY(180deg);
	}

	athlete-card.disable-hover:hover > .card {
		transform: none;
	}

	.front .athlete-info {
		height: 100%;
		display: grid;
		grid-template-rows: 92% 8%;
		row-gap: $spacing-st;
		padding: $spacing-xxwide; //affects action-shot border
		border-radius: 0;
		position: relative;

		picture.headshot {
			display: none;
		}

		picture.action-shot {
			display: block;
			margin-left: auto;
			margin-right: auto;
			clip-path: polygon(0 0, 100% 0, 100% 77%, 90% 82%, 90% 100%, 10% 100%, 10% 82%, 0 77%);
			background: linear-gradient($primary-light 70%, white);
			min-width: 100%;
			padding: $spacing-xxsm; //makes border looks more uniform

			img {
				clip-path: polygon(2% 1.3%, 98% 1.3%, 98% 68%, 88% 72.5%, 88% 88%, 12% 88%, 12% 72.5%, 2% 68%);
				min-height: 100%;
			}
		}

		.logo {
			display: block;
			position: absolute;
			right: 43%;
			bottom: 11%;
			max-width: 50px;
			z-index: 11;
		}

		.name {
			font-size: 1.4em;
		}

		// .position, .years {
		// 	border: 1px solid red;
		// 	display: block;
		// 	position: absolute;
		// 	writing-mode: vertical-lr;
		// 	word-wrap: normal;
		// 	rotate: 180deg;
		// 	top: 69.5%;
		// 	left: 4%;
		// 	margin-top: auto;
		// 	margin-bottom: auto;
		// 	min-height: 90px;

		// 	p {
		// 		font-size: 15px;
		// 	}
		// }

		// .years {
		// 	right: 4%;
		// }

		.position-container, .years-container {
			// border: 1px solid red;
			position: absolute;
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			rotate: 180deg;
			width: 25px;
			height: 75px;
		}

		.position-container {
			top: 73.5%;
			left: 4.1%;
		}

		.years-container {
			top: 73.5%;
			left: 88.5%;
		}

		.position, .years {
			display: block;
			writing-mode: vertical-rl;
		}
	}

	.front, .back {
		width: 100%;
		height: 100%;
		position: absolute;
		backface-visibility: hidden;
	}

	.back {
		display: grid;
		grid-template-columns: 50% 50%;
		grid-template-rows: 100px auto auto auto 1fr auto;
		padding: $spacing-st;
		background-color: grey;
		transform: rotateY(180deg);
		
		.headshot {
			display: flex;
			max-width: 120px;
			margin-left: auto;
			margin-right: auto;
			margin-bottom: $spacing-sm;
			z-index: 12;
			grid-row: 1;
			grid-column: 1 / span 2;
			align-items: flex-end;
		}

		.logo-back {
			position: absolute;
			right: 30%;
			bottom: 73%;
			max-width: 135px;
			opacity: .3;
		}

		.name-back {
			margin-left: auto;
			margin-right: auto;
			z-index: 10;
			align-self: end;
			grid-row: 2;
			grid-column: 1 / span 2;
		}

		.personal-info {
			margin: 5px 0;
			grid-row: 3;
			grid-column: 1;

			* {
				margin: 2px 0;
			}
		}

		.accolades {
			margin: 5px;
			grid-row: 3;
			grid-column: 2;

			* {
				margin: 2px 0;
			}
		}

		.college {	
			max-width: 100%;
			grid-row: 4;
			grid-column: 1 / span 2;
		}

		.summary {
			margin-top: 5px;
			grid-row: 5;
			grid-column: 1 / span 2;

			p {
				font-size: .8em;
				line-height: 1.2em;
			}
		}

		.socials {
			display: flex;
			gap: 25px; 
			margin: auto;
			grid-row: 6;
			grid-column: 1 / span 2;
			margin-left: auto;
			margin-right: auto;

			.social-icon {
				max-width: .8em;
			}

			.instagram, .twitter {
				display: flex;
				gap: 2px;
				flex-direction: column;
				align-items: center;
			}
		}

		.stats-table {
			margin-top: 2px;
			border: 2px solid $ink-dark;
			min-width: 100%;

			td, th {
				padding: 1.2px;
				text-align: center;
			}
			td p, th p {
				font-size: .7em;
			}
			
			th {
				border-bottom: 1px solid $ink-dark;
				padding-top: 2px;
			}
		}

		.college[data-position='Pitcher'], 
		.college[data-position='Quarterback'] {
			.stats-table {
				td p, th p {
					font-size: .61em;
				}
			}
		}

		.college p {
			font-size: .8em;
		}
	}

	#flipper {
		display: block;
	}
}
