

athlete-card {
	background-color: var(--paper-dark);
	color: var(--ink-light);
	border-radius: var(--corners);
	max-width: 320px;
	display: grid;
	grid-template-columns: 1fr repeat(3 1fr);

	@media (min-width: 700px) {
		min-width: 280px;
		min-height: 400px;
		border-radius: 0;
		padding: 10px;	

		& picture {
			margin-left: auto;
			margin-right: auto;
			clip-path: polygon(0 0, 100% 0, 100% 65%, 85% 85%, 85% 100%, 15% 100%, 15% 85%, 0 65%);
			background-color: white;
			min-width: 100%;
		}

		& img {
			clip-path: polygon(2.5% 2.5%, 97.5% 2.5%, 97.5% 63.5%, 82.5% 82.5%, 82.5% 97.5%, 17.5% 97.5%, 17.5% 82.5%, 2.5% 62.5%);
			// position: absolute;
			min-height: 100%;
		}
	}
}

.card-grid {
	display: flex;
	flex-direction: row;
	gap: 10px;
	flex-wrap: wrap;
}