<form data-vue='countingChar'>

	<textarea 
		v-model='string'
		type="text" 
		name="string" 
		rows="2"
		value="" 
		placeholder="Type whatever you want"
	></textarea>



</form>

	<output data-vue='countingChar' v-if='message' >
		<p class='normal-voice'>{{message}}</p>
		<p class='normal-voice'>{{message2}}</p>
		<p class='normal-voice' v-html='message3'></p>
	</output>
	
<footer>
	<script src="https://cdn.jsdelivr.net/npm/vue@2.7.14/dist/vue.js"></script>
	<script src="./v-exercises/v-counting-characters/script.js"></script>
</footer>
