/* P reset */
@import 'preset.css';

/* Setup */
@import 'setup.css';

/* Ssetings */
@import 'settings.css';
@import 'developer-styles.css';


/* Structure */
@import 'structure.css';

/* Typography */
@import 'typography.css';


/* Sections and more 
stuff */
@import 'components.css';
@import 'modules/modules.css';

@import 'footer.css';
@import 'header.css';

/* then other contextual styles */
body {
	background-color: var(--paper);
	color: var(--ink);
}

.left-side {
	min-width: 60%;
	background-color: #dce6f0;
}

.right-side {
	min-width: 40%;
}