* {
	box-sizing: border-box;
}

body {
	display: flex;
	flex-direction: column;
	min-height: 95vh; /* be at least a full viewport height */
} 

main {
	display: block;
	flex-grow: 1; /* fill up available space + push the footer down */
}

inner-column {
	display: block;
	width: var(--standard);
	margin-right: auto;
	margin-left: auto;
	padding: 0 5px;
}

.site-header {
	position: sticky;
	top: 0;
	z-index: 5;
}

picture {
	display: block;
}

picture img {
	display: block;
	width:  100%;
	height:  auto;
}

main inner-column {
	display: flex;
	min-height: 100%;
}

button {
	cursor: pointer;
	border: none;
}

.left-side {
	width: 60%;
	padding-left: 25px;
	overflow: hidden;
	background-color: hsla(210, 50%, 95%, 1.00);
}

.right-side {
	width: 40%;
	background-color: hsla(200, 85%, 85%, 1.00);

}

main .right-side {
	display: flex;
	flex-direction: column;	
}