* {
	box-sizing: border-box;
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh; /* be at least a full viewport height */
} 

main {
	display: block;
	flex-grow: 1; /* fill up available space + push the footer down */
}

inner-column {
	display: block;
	max-width: var(--wide); /* could be a variable in settings */
	margin-right: auto;
	margin-left: auto;
	padding: 0 5px;
}

.site-header {
	position: sticky;
	top: 0;
	z-index: 5;
}

picture {
	display: block;
}

picture img {
	display: block;
	width:  100%;
	height:  auto;
}


main inner-column {
	display: flex;
	min-height: 100%;
}

button {
	cursor: pointer;
