.generic-text {
	grid-row: 3;
	display: flex;
	max-width: 500px;
}

@media (min-width: 700px) {
	.generic-text {
/*		grid-column: 5 / 10;*/
		margin-right: 20px;
		max-width: none;
	}


	.generic-text:first-of-type {
		margin-top: 20px;
	}
}

