
.generic-text {
	grid-column: 2 / 14;
	margin: 5px;
	display: flex;
	justify-content: flex-end;
}

generic-text {
	max-width: 600px;
}

@media (min-width: 550px) {
	.generic-text {
		grid-column: 2 / 10;
	}
}

@media (min-width: 700px) {
	.generic-text {
		grid-row: 4;
		grid-column-end: span 5;
		grid-column-end: 10;
		margin: 20px;
		text-align: right;
	}
}

@media (min-width: 1100px) {
	.generic-text {
		grid-row: 4;

	}
}