generic-text {
	display: block;
}

.generic-text {
	grid-row: 4;
	grid-column: 2 / 14;
}

@media (min-width: 550px) {
	.generic-text {
		grid-column: 3 / 13;
	}
}

@media (min-width: 700px) {
	.generic-text {
		grid-row: 4;
		grid-column: 10 / 14;
	}
}