<form data-vue='countChar'>
	<div class='instructions'>
		<p class='normal-voice'>Type in a string of text and I'll count how many characters you entered.</p>
	</div>
	<textarea 
		v-model='string'
		type="text" 
		name="string" 
		rows="5"
		value="" 
		placeholder="Type whatever you want"
	></textarea>

</form>

<output data-vue='outputChar' v-if='computedMessage'>
	<p>{{ computedMessage }}</p>
	<p>{{ countWithSpaces }}</p>
	<p>{{ computedWordCount }}</p>
</output>

<footer>
	<script src="https://cdn.jsdelivr.net/npm/vue@2.7.14/dist/vue.js"></script>
	<script src="./v-exercises/v-count-characters/script.js"></script>
</footer>
