figure {
	display: block;
/*	margin: 5px;*/
}

.about.figure {
	display: none;
	padding: 0;
}

@media (min-width: 700px) {
	.about.figure {
		display: block;
		grid-row: 3 / span 3;
		grid-column: 10 / span 3;
	}
}