/*hsl(28, 17%, 30%);*/ 
/*hsl(37, 32%, 92%) */
/* hsl(303, 100%, 50%); */
/*hsl(219, 13%, 82%)*/
/*#5E321F */
/*#aadee9 */

html {
	--black: #111111;
	--white: #FFF;

	--color: #5E321F;
	--highlight: hsl(303, 100%, 50%);

	--shadow: rgba(221, 53%, 24%);

	--corners: 10px; /* or whatevers */

	--standard: 1140px;
	--tight: 800px;
	--wide: 98vw;

	--paper: white;
	--background: lawngreen;

	--ink: black;
	--highlight: hsl(360, 100%, 39%); /* red */
}

@media (prefers-color-scheme: dark) {
	html {
		--paper: #231f20;
		--ink: lawngreen;
		--highlight: #6200ee;
		--background: #14182f;
	}

	.logo {
		fill: white;
	}
}
