/*hsl(28, 17%, 30%);*/ 
/*hsl(37, 32%, 92%) */
/* hsl(303, 100%, 50%); */
/*hsl(219, 13%, 82%)*/
/*#5E321F */
/*#aadee9 */
/*hsl(360, 100%, 39%)*/

html {
	--darkest: #111111;
	--lightest: #FFF;

	--shadow: rgba(221, 53%, 24%);

	--corners: 10px; /* or whatevers */

	--standard: 1140px;
	--tight: 800px;
	--wide: 98vw;

	--paper: white;
	--background: lawngreen;

	--ink: black;
	--highlight: lawngreen; 
	--contrast: hsla(38, 10%, 15%, 1);
	--alternate: hsla(0, 0%, 35%, 1);
	--trim: black;
	--standout: hsl(360, 100%, 39%);
}

@media (prefers-color-scheme: dark) {
	html {
		--paper: hsla(0, 0%, 7%, 1);
		--ink: yellow;
		--highlight: #6200ee;
		--background: hsla(38, 10%, 15%, 1);
		--contrast:  yellow;
		--trim: hsla(0, 0%, 35%, 1);
		--lightest: #FFF;
	}
}
