/*hsl(28, 17%, 30%);*/ /* dark brown */
/*hsl(37, 32%, 92%) light brown */
/* hsl(303, 100%, 50%); bright pink/purple */ 
html {
	--black: #111111;
	--white: #FFF;

	--color: #5E321F;
	--highlight: #aadee9;

	--shadow: rgba(221, 53%, 24%);

	--corners: 10px; /* or whatevers */

	--standard: 1140px;
	--tight: 800px;
	--wide: 98vw;

	--paper: hsl(219, 13%, 82%);
	--background: lawngreen;

	--ink: black;
	--highlight: hsl(360, 100%, 39%); /* red */
}

@media (prefers-color-scheme: dark) {
	html {
		--paper: #3f1414;
		--ink: lawngreen;
		--highlight: yellow;
		--background: #14182f;
	}

	.logo {
		fill: white;
	}
}
