@import 'meyer-reset.css';
@import 'setup.css';
@import 'settings.css';
@import 'structure.css';
@import 'typography.css';

/* - - PAGES - - */
@import 'pages/pages.css';

/* - - MODULES - - */
@import 'modules.css';


html {
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
}

body {
	background-color: var(--paper);
	color: var(--ink);
	display: grid;
	gap: 5px;
	grid-template-columns:  auto repeat(12, minmax(0, 120px)) auto;
	min-height: 100vh;
	grid-template-rows: auto minmax(0, 70px) minmax(0, 70px) 1fr 1fr 1fr 1fr 1fr auto;
	font-family: Rubik;
	margin-left: auto;
	margin-right: auto;
}

.background {
	grid-column: 1 / -1;
	grid-row:  1 / 4;
	background-color: var(--background);
	/*transition: 1s ease-in-out;*/
}


.image {
	display: none;
}


svg {
	max-width: 30px;
}

@media (min-width: 700px) {
	.background {
		grid-column: 2 / 10;
		grid-row: 1 / 12;
		/*transition: 1s ease-in-out;*/
	}

	body {
		grid-gap: 15px;
	}

	
	.image {
		display: block;
		max-width: 250px;
		grid-row: 4 / span 2;
		grid-column: 12 ;
		margin-top: 50px;
	}

	.image picture {
		box-shadow: 5px 5px lawngreen;
	}

}
