.projects-button button {
	border: 3px solid var(--trim);
	text-align: center;
	padding: 5px;
	box-shadow: 5px 5px var(--contrast);
	background: var(--background);
	min-width: 150px;
}

.projects-button button:hover {
	transform: translateX(5px) translateY(5px);
	box-shadow: 0 0 var(--highlight);
	cursor: pointer;
}

.projects-button button:active {
	transform: translateX(5px) translateY(5px);
	box-shadow: 0 0 var(--highlight);
}
